#social
  //- #header
  //-   a(href="//twitter.com/flozzamusic")
  //-     i.fa.fa-twitter
  //-   a(href="//facebook.com/donderer.violin")
  //-     i.fa.fa-facebook
  //-   a(href="//youtube.com/channel/UC_N2Hz63EvNRDmWHNVhRqUw/featured")
  //-     i.fa.fa-youtube

.row
  h3.col.s12.center-align
    i.fa.fa-twitter 
    |  Twitter


.row.social-feed-container
  //- article.element.col.s12.m6.l4(dt-create="1449985892000", social-feed-id="675915940782035000")
    header
      a.pic(href="//twitter.com/flozzamusic", target="_blank")
        img(src="//pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor 10 Stunden
    cite
      | RT @resonanzio: @resonanzio wishes Merry Christmas from Baden Baden! @FestspielhausBB #DKam @paavo_jarvi @flozzamusic @matthunt3
      a(target="_blank", href="https://t") https://t
      | .&#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675915940782034944", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675915940782034944", target="_blank")
        img.attachment(src="http://pbs.twimg.com/media/CWCUX10XAAAofhR.jpg")
  //- article.element.col.s12.m6.l4(dt-create="1449933633000", social-feed-id="675696751106461700")
    header
      a.pic(href="http://twitter.com/flozzamusic", target="_blank")
        img(src="http://pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor einem Tag
    cite
      | RT @resonanzio: @FestspielhausBB last concert of our tour with amazing #JanineJansen #DKam @paavo_jarvi @flozzamusic @resonanzio
      a(target="_blank", href="https://t") https://t
      | &#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675696751106461697", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675696751106461697", target="_blank")
  //- article.element.col.s12.m6.l4(dt-create="1449824896000", social-feed-id="675240674606891000")
    header
      a.pic(href="http://twitter.com/flozzamusic", target="_blank")
        img(src="http://pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor 2 Tagen
    cite
      | RT @Grossu_Minutu: Le printemps &#224; l"entr&#233;e de l"hiver, ce concerto pour violon de #Beethoven #JanineJansen @paavo_jarvi #dkpb @TCEOPERA htt&#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675240674606891008", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675240674606891008", target="_blank")
        img.attachment(src="http://pbs.twimg.com/media/CV4-LTRWoAAnZo1.jpg")
  //- article.element.col.s12.m6.l4(dt-create="1449824891000", social-feed-id="675240653987708900")
    header
      a.pic(href="http://twitter.com/flozzamusic", target="_blank")
        img(src="http://pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor 2 Tagen
    cite
      | RT @Guiguiii94: La fabuleuse Janine Jansen dans Beethoven avec @paavo_jarvi et Br&#234;me ! Merci pour ce beau moment ! @TCEOPERA
      a(target="_blank", href="https://t.co/I") https://t.co/I
      | &#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675240653987708932", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675240653987708932", target="_blank")
        img.attachment(src="http://pbs.twimg.com/media/CV48aupW4AESOoL.jpg")
  //- article.element.col.s12.m6.l4(dt-create="1449823609000", social-feed-id="675235274184634400")
    header
      a.pic(href="http://twitter.com/flozzamusic", target="_blank")
        img(src="http://pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor 2 Tagen
    cite
      | RT @Grossu_Minutu: Fabuleuse &#233;nergie de la Deutsche Kammerphilharmonie Bremen sous la baguette de @paavo_jarvi au @TCEOPERA !
      | Bravi! https:&#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675235274184634368", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675235274184634368", target="_blank")
        img.attachment(src="http://pbs.twimg.com/media/CV5UOfJWsAAhQux.jpg")
  //- article.element.col.s12.m6.l4(dt-create="1449777937000", social-feed-id="675043712557273100")
    header
      a.pic(href="http://twitter.com/flozzamusic", target="_blank")
        img(src="http://pbs.twimg.com/profile_images/1783641133/DE827759-8BC2-49B7-88E6-3456B505966D_normal")
        i.fa.fa-twitter
        | Florian Donderer
      time vor 3 Tagen
    cite
      | in Paris with Janine Jansen @paavo_jarvi and #DKAM In beautiful
      | @CTEOPERA  - music, humanity, empathy, tolerance is needed, not "war"&#8230;
      a.more(href="http://twitter.com/flozzamusic/status/675043712557273090", target="_blank") mehr
    footer
      a.read-button(href="http://twitter.com/flozzamusic/status/675043712557273090", target="_blank")





footer.page-footer.grey.lighten-4
  .container
    .row
      .col.s10.push-s1.m3.l3
        h5.grey-text.text-lighten-1 Übersicht
        ul.grey-text
          li
            a(href="index.html") Home
          li
            a(href="vita.html") Vita
          li
            a(href="presse.html") Presse
          li
            a(href="konzerte.php") Konzerte
          li
            a(href="projekte.html") Projekte
          li
            a(href="medien.html") Medien
          li
            a(href="impressum.html") Kontakt
      .col.s10.push-s1.m4.l4 
          h5.grey-text.text-lighten-1 Downloads
          p 
              a(href="florian-donderer.vcf") 
                  span.fa.fa-envelope-o  
                  |  Visitenkarte
                  small  / .vcf
          p 
              a(href="https://www.dropbox.com/sh/43wm02jza6hi2xj/AAB9WV_aNDsM1LLnGSSupS1ba?dl=0") 
                  span.fa.fa-file-photo-o  
                  |  Fotos 
                  small  hochauflösend / HD
          p 
              a(href="https://www.dropbox.com/sh/zg1dq7ejq34l3h0/AAByhJebPwshHOfpPXj6PH8ka?dl=0") 
                  span.fa.fa-file-text-o  
                  |  Lebensläufe 
                  small  / CVs
      .col.s10.push-s1.m3.l2.socialmedia
        h5.grey-text.text-lighten-1 Social media
        ul
          li
            a(target="floSocial", href="//hellostage.com/Florian-Donderer/biography")
              img(src="fotos/hellostage.png")
          li
            a(target="floTwitter", href="//twitter.com/intent/follow?screen_name=flozzamusic")
              i.fa.fa-twitter
          li
            a(target="floSocial", href="//facebook.com/donderer.violin")
              i.fa.fa-facebook
          li
            a(target="floSocial", href="//soundcloud.com/flozzamusic")
              i.fa.fa-soundcloud
          li
            a(target="floSocial", href="//youtube.com/channel/UC_N2Hz63EvNRDmWHNVhRqUw/featured")
              i.fa.fa-youtube
  .footer-copyright.grey-text
    .container 
      small Website  🔧 
          a(href="//heinrichklassen.de") handmade von Heinrich Klassen
      a.grey-text.right(href="index.html") Florian Donderer, Violine.



script.
  ;( function ( document, window, index )
  {
    'use strict';

    var elSelector  = '.header',
      element   = document.querySelector( elSelector );

    if( !element ) return true;

    var elHeight    = 0,
      elTop     = 0,
      dHeight     = 0,
      wHeight     = 0,
      wScrollCurrent  = 0,
      wScrollBefore = 0,
      wScrollDiff   = 0;

    window.addEventListener( 'scroll', function()
    {
      elHeight    = element.offsetHeight;
      dHeight     = document.body.offsetHeight;
      wHeight     = window.innerHeight;
      wScrollCurrent  = window.pageYOffset;
      wScrollDiff   = wScrollBefore - wScrollCurrent;
      elTop     = parseInt( window.getComputedStyle( element ).getPropertyValue( 'top' ) ) + wScrollDiff;

      if( wScrollCurrent <= 0 ) // scrolled to the very top; element sticks to the top
        element.style.top = '0px';

      else if( wScrollDiff > 0 ) // scrolled up; element slides in
        element.style.top = ( elTop > 0 ? 0 : elTop ) + 'px';

      else if( wScrollDiff < 0 ) // scrolled down
      {
        if( wScrollCurrent + wHeight >= dHeight - elHeight )  // scrolled to the very bottom; element slides in
          element.style.top = ( ( elTop = wScrollCurrent + wHeight - dHeight ) < 0 ? elTop : 0 ) + 'px';

        else // scrolled down; element slides out
          element.style.top = ( Math.abs( elTop ) > elHeight ? -elHeight : elTop ) + 'px';
      }

      wScrollBefore = wScrollCurrent;
    });

  }( document, window, 0 ));
script(src="social.js")
script.
  $(document).ready(function(){
    $('.social-feed-container').socialfeed({

          // Twitter
          twitter:{
    // accounts: ['@flozzamusic','#floriandonderer','#fdonderer'],
    accounts: ['#fldo'],
    limit: 6,
    consumer_key: '3wDXFXDjug2a7I6lJ2OrzcfLj', // make sure to have your app read-only
    consumer_secret: 'C5hUjGMkPDMhCCvKECbr7tWwI5D7MXhRKYlHnpdtt7TOlc075B', // make sure to have your app read-only
    },
          // INSTAGRAM
          instagram:{
  accounts: ['@flozzamusic'],
  limit:6,
  client_id: 'c91d8deda38b483f9fdc75c48e921973'
  },
          // FACEBOOK
          facebook:{
    accounts: ['@donderer.violin','@kuul.io','#floriandonderer'],
    limit: 5,
    access_token: 'CAACEdEose0cBAAabHghleEYNGYMGdvdAVLCL4phheans4Ew2ZB7wRs5nBFZCtr0TB6JEF8DlUeWAfxXeIymZAq308RLM4h1fQEgtcwI4pVfYQn39X0ShMCnjWfToCC9DZCzOoXGqhVY5qaWK9XmepKKOwOsdH7vpMA6pF5aKQWuWIvss2ukUSOHoMsWqFcWHAS3DT2yNSgZDZD' // APP_ID|APP_SECRET
    },
          // GOOGLEPLUS
          google:{ 
            accounts: ['#flozzamusic'],
            limit: 1,
            access_token: 'AIzaSyDpNQcIwQf5TcKmI8B0rh3e4OodIywJP14'
          },
          // VKONTAKTE
          vk:{
              accounts:['#flozzamusic'],
              limit:2,
              source:'all'
          },
          // BLOGSPOT
          /*blogspot:{
            accounts:['@iman-khaghanifar']
          },*/
          // GENERAL SETTINGS
          length:400,
          show_media:true,
          // Moderation function - if returns false, template will have class hidden
          moderation: function(content){
            return  (content.text) ? content.text.indexOf('fuck') == -1 : true;
          },
          //update_period: 5000,
          // When all the posts are collected and displayed - this function is evoked
          callback: function(){
            console.log('all posts are collected');
          }
        });
  });
