- var title = "Florian Donderer"
- var bodyclass = "homepage"

include head.jade

.navbar-fixed
  nav(role="navigation").header
    .nav-wrapper
      a#logo-container.left.brand-logo(href="index.html") Florian Donderer
      ul.right.hide-on-med-and-down
        li.active
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        //- li
        //-   a(href="kontakt.html") Kontakt
      ul#nav-mobile.side-nav.right
        li.active
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        //- li
        //-   a(href="kontakt.html") Kontakt
      a.button-collapse.right(href="#", data-activates="nav-mobile")
        i.material-icons menu

.row.portrait
  .col.s12.center
    img(src="fotos/GSB1684.jpg" title="© Giorgia Bertazzi (giorgiabertazzi.com)")
.row.paavoquote
  .col.s10.push-s1.m10.push-m1.valign-wrapper
    blockquote.valign
      h3.valign «Florian Donderer is an exceptional musician.»
      cite — Paavo Järvi
  //- .col.s10.push-s1.m4.push-m2.valign-wrapper
    //- blockquote.valign
      //- big Florian is a natural leader with a perfect combination of musical intelligence and intuition. As a concertmaster he is able to create uniquely musical and unified atmosphere.
      cite — Paavo Järvi
.row.headshot
  .col.s12.center-align
    img(src="fotos/GSB1650.jpg" title="© Giorgia Bertazzi (giorgiabertazzi.com)")

.row.ciaconna
  .col.s12.center-align
    h3 Ciaccona
    h5 Johann Sebastian Bach, BWV 1004
    iframe(width="100%", height="515", src="//youtube.com/embed/UeRRw6xkAwI", frameborder="0", allowfullscreen="")

.row.playndirect
  .col.s10.push-s1.m6.push-m3.center-align
    h5 LUCERNE FESTIVAL STRINGS • SCOTTISH CHAMBER ORCHESTRA • KAMMERORCHESTER BASEL • CAMERATA BERN • DIE DEUTSCHE KAMMERPHILHARMONIE BREMEN • KAMMERAKADEMIE POTSDAM
    h2.highlight PLAY & DIRECT
    blockquote 
      big Florian is a natural leader with a perfect combination of musical intelligence and intuition. As a concertmaster he is able to create uniquely musical and unified atmosphere.
      cite — Paavo Järvi
      //- big Als Solist und Konzertmeister leitet Florian mit Spiel, Bewegung, Geste, Blick, sozialer Kompetenz und Führungsqualitäten hervorragende Ensembles und Orchester.

.row.fray.blue-grey.lighten-3
  .wallpaper.col.s12.m6.l6 &nbsp;
  .col.s12.m6.l5.push-l1.valign-wrapper
      blockquote.valign
        h5 Berliner Philharmonie Mai 2014
        h4 «The Kammerorchester Basel under their virtuosic concert master Florian Donderer were as musically fresh to listen to as they were beguiling to watch playing.»

        footer
          cite
            a(href="//seenandheard-international.com/2014/05/rolando-villazon-sings-mozart-in-london/?doing_wp_cron=1399642671.4804499149322509765625", target="_blank") — Jim Pritchard • Seen And Heard International
              i.fa.fa-copy    


.spannungenfestival.row.black.white-text
  .col.s12.center
    h5 Festival «Spannungen» in Heimbach
  .col.s4.l2.push-l2.center
    a(href="medien.html")
      img(title="Kammermusikaufnahmen Florian Donderer" src="http://www.joergwidmann.com/img/cd-octets.jpg")
  .col.s4.l2.push-l3.center
    a(href="medien.html")
      img(title="Kammermusikaufnahmen Florian Donderer" src="http://www.joergwidmann.com/img/cd-spannungen2011.jpg")
  .col.s4.l2.push-l4.center
    a(href="medien.html")
      img(title="Kammermusikaufnahmen Florian Donderer" src="http://kuul.io/donderer/fotos/diskographie-mozartchamberg.jpg")
.spannungenfestival.row.black.white-text
  .col.s10.push-s1.m6.push-m3.center
    h3 Liveaufnahmen Kammermusik
    hr(style="border-color: #ffffff")
    p
      big Tetzlaff • Steckel • Roberts • Fehland • Dohr • van Keulen • Viersen • Rivinius • Widmann • Weinmeister • Mahni • Jensen • Kawahara • Vogt • Watkins • Manz • Lieberknecht • Bouskova

.playndirect.row.blue-grey.lighten-5
  .col.s12.center-align
    h3 Neugier ohne Grenzen

.playndirect.row.blue-grey.lighten-5
  .col.s10.push-s1.m3.push-m0.l2.push-l2
    h5 PLAY & DIRECT
    blockquote «Unter souveräner Führung seines Konzertmeisters Florian Donderer verzichtet das Orchester auf einen Dirigenten, und dies mit Gewinn. Unter unerhörter Binnenspannung tritt das Ensemble in die langsame Einleitung der Symphonie ein, und selbst heikle Einsätze im Finale scheinen in der feinen Kommunikation von Allen mit Allen kein Problem darzustellen.»
      cite — Morgenpost.de
  .middle.col.s10.push-s1.m4.push-m1.l2.push-l3
    h5 KAMMERMUSIK
    blockquote «Tanja Tetzlaff und Florian Donderer servierten einen Auftakt in klanglicher Perfektion.»
      cite — Kölnische Rundschau
  .col.s10.push-s1.m3.push-m1.l2.push-l4
    h5 DIRIGIEREN
    blockquote «Den in jeder Situation glänzend reagierenden Dirigenten Florian Donderer sollte man sich merken. Es wäre ein Glücksfall, könnte das Orchester diesen renommierten Kammermusiker dauerhaft an sich binden.»
      cite — Pforzheimer Zeitung

.row.tochconcerto
  .col.s12.m6.center-align.push-m3
    img(src="fotos/toch-konzert-cd-cover.jpg").z-depth-4
    blockquote
      cite 
        h5 THE SUNDAY TIMES
        h3 «The Toch concerto is beautifully and delicately devised compellingly played.»
        hr(style="border-color: #2e2e2e")
.row.tochconcerto.second
  .col.s10.push-s1.m4.push-m2
    p
      strong Ernst Toch (1887–1964)
      | Concerto for cello & chamber orchestra, Op. 35
  .col.s10.push-s1.m4.push-m2
    p 
      strong Tanja Tetzlaff
      | Violoncello
    p 
      strong Florian Donderer
      | Dirigent
    p Die Deutsche Kammerphilharmonie Bremen

  .col.s12.center
    a(href="medien.html").btn.secondary Zur Diskografie



.row
  .col.s12
    .video-container.center
      .yt-placeholder(style="width:100%; height:615px;" onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'")
        img(src="fotos/parnu-dirigat6.jpg")
      iframe#thevideo(style="display:none;" width="100%" height="615" src="https://www.youtube.com/embed/Ap5rkC2IdnY" frameborder="0" allowfullscreen="")


//- .row.voigtquote
  .col.s12.m4.push-m1
    img(src="fotos/GSB1844.jpg" title="© Giorgia Bertazzi (giorgiabertazzi.com)")
  .col.s10.push-s1.m5.push-m2
    //- blockquote
      h3
        big «Florian ist einer der vielseitigsten und interessantesten Musiker, die ich kenne.»
        br
        | Seine künstlerischen Rollen — Geiger, Bratschist, Dirigent, Kammermusiker, Solist, Konzertmeister — sind so vielfältig wie seine Neugier, sein ungeheurer innerer Antrieb, seine immense Liebe zur Musik.
      cite — LARS VOGT
    blockquote
      h4 «Konzertmeister Florian Donderer lotste die Musiker durch eine vor Geist sprühende, fast opernhaft szenisch wirkende d-Moll-Sinfonie von Haydn. So einen warmen, darmsaitenartigen Klang muss man erst einmal hinkriegen. Jede Stimme war sich ihrer jeweiligen Bedeutung hörbar bewusst, flexibel wechselten die Musiker ihre Rollen. Nur so hat das Musizieren ohne Dirigenten einen höheren Sinn.»
      cite — Hamburger Abendblatt




//- .row.parnufestival
  .col.s12.m8.push-m2.l8.push-l2.center
    h5 Konzertmeister
    hr(style="border-color: #2e2e2e")
    h3 Die Deutsche Kammerphilharmonie Bremen

    blockquote
      h4 «Fantastisch klang Florian Donderers Konzertmeister-Solo»
      cite — Die Welt 

    br
    br
    br
    br

  img(src="fotos/20151130-JB-Berlin-282.jpg").col.s12.m8.push-m2.l6.push-l3

  //- .col.s12.m5.push-m1.l5.push-l2.center
    //- iframe(scrolling="no", width="640", height="477", frameborder="0", align="middle", name="Schumann at Pier2", marginwidth="0", marginheight="0", src="http://www.dw.com/embed/320/av-16338374")

//- .row.further
//-   .col.s12.center-align
//-     a.btn.btn-large(href="vita.html") weiter zur Vita
//- include footer.jade



script.
  ;( function ( document, window, index )
  {
    'use strict';

    var elSelector  = '.header',
      element   = document.querySelector( elSelector );

    if( !element ) return true;

    var elHeight    = 0,
      elTop     = 0,
      dHeight     = 0,
      wHeight     = 0,
      wScrollCurrent  = 0,
      wScrollBefore = 0,
      wScrollDiff   = 0;

    window.addEventListener( 'scroll', function()
    {
      elHeight    = element.offsetHeight;
      dHeight     = document.body.offsetHeight;
      wHeight     = window.innerHeight;
      wScrollCurrent  = window.pageYOffset;
      wScrollDiff   = wScrollBefore - wScrollCurrent;
      elTop     = parseInt( window.getComputedStyle( element ).getPropertyValue( 'top' ) ) + wScrollDiff;

      if( wScrollCurrent <= 0 ) // scrolled to the very top; element sticks to the top
        element.style.top = '0px';

      else if( wScrollDiff > 0 ) // scrolled up; element slides in
        element.style.top = ( elTop > 0 ? 0 : elTop ) + 'px';

      else if( wScrollDiff < 0 ) // scrolled down
      {
        if( wScrollCurrent + wHeight >= dHeight - elHeight )  // scrolled to the very bottom; element slides in
          element.style.top = ( ( elTop = wScrollCurrent + wHeight - dHeight ) < 0 ? elTop : 0 ) + 'px';

        else // scrolled down; element slides out
          element.style.top = ( Math.abs( elTop ) > elHeight ? -elHeight : elTop ) + 'px';
      }

      wScrollBefore = wScrollCurrent;
    });

  }( document, window, 0 ));
