- var title = "CDs & Videos mit Kammermusik, Orchester & Solo | Florian Donderer"
- var bodyclass = "medien"

include head.jade

.navbar-fixed
  nav(role="navigation").header
    .nav-wrapper
      a#logo-container.left.brand-logo(href="index.html") Florian Donderer
      ul.right.hide-on-med-and-down
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li.active
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      ul#nav-mobile.side-nav.right
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li.active
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      a.button-collapse.right(href="#", data-activates="nav-mobile")
        i.material-icons menu



.row.discography
  .col.s10.push-s1.center
    h3 Diskographie

.row.discography
  .col.push-m1.m7.s10.push-s1
    ul(style="overflow: hidden;")
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Heimbach-Chamber-Music-Festival-2005/hnum/7529638") 
            img(src="fotos/diskographie-mozartchamberg.jpg")
        .card-content Mozart: Kammermusik für Flöte, Horn, Oboe & Streicher
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Antonin-Dvorak-1841-1904-Streichsextett-op-48/hnum/2260260") 
            img(src="fotos/heimbach-sextett.jpg")
        .card-content Antonin Dvorak (1841-1904)
          br
          | Streichsextett op.48 (live)
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Franz-Schubert-1797-1828-Oktett-D-803/hnum/4560068") 
            img(src="fotos/heimbach-widmann.jpg")
        .card-content Jörg Widmann: 
          br
          | Oktett für Bläser und Streicher 
          br
          | (live)

      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//kammerphilharmonie.com/de/shop-dt/cd/beethoven-violinkonzert-batiashvili-detail") 
            img(src="fotos/batiashvili.jpg")
        .card-content Beethoven: Violinkonzert in D-Dur • Lisa Batiashvili • Florian Donderer, Konzertmeister


      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Wind-Strings/hnum/2869117") 
            img(src="fotos/heimbach-wind-strings.jpg")
        .card-content Ibert: Interludes für Flöte, Violine & Harfe / Bouskova, Lieberknecht, Donderer (live)


      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Wolfgang-Rihm-geb-1952-Cellokonzert-in-einem-Satz/hnum/4918378") 
            img(src="fotos/tanja-rihm.jpg")
        .card-content Toch: Cellokonzert
          br
          | Tanja Tetzlaff • Florian Donderer, Dirigent
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//kammerphilharmonie.com/de/shop-dt/cd/ach,-johann-sebastian,-klavierwerke-h%C3%A9l%C3%A8ne-grimaud-detail") 
            img(src="fotos/grimaud.jpg")
        .card-content Grimaud • Donderer, Konzertmeister • Deutsche Kammerphilharmonie Bremen

      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//amazon.de/Czerny-Quartets-Sheridan-Ensemble-2015-04-14/dp/B013H1BS86") 
            img(src="fotos/sheridan_ensemble-carl_czerny_string_quartets.jpg")
        .card-content Ersteinspielung der Czerny-Streichquartette
          br
          | Sheridan Ensemble

      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//www.jpc.de/jpcng/classic/detail/-/art/Bedrich-Smetana-1824-1884-Klaviertrio-op-15/hnum/2869139") 
            img(src="fotos/heimbach-trios.jpg")
        .card-content Ravel
          br
          | Donderer, Tetzlaff, Watkins, Manz, Vogt

      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//amazon.de/Strauss-R-Metamorphosen-Korngold-Orchestra/dp/B006HLGPO6") 
            img(src="//ec2.images-amazon.com/images/P/B000094HO9.03._SS300_SCLZZZZZZZ_.jpg")
        .card-content Strauss: Metamorphosen • Donderer, Konzertmeister • Kammerakademie Potsdam
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//amazon.de/Klavierkonzerte-Bwv-1052-55-56/dp/B001GXY92U") 
            img(src="//ecx.images-amazon.com/images/I/71lNnQ6G6hL._SX522_.jpg")
        .card-content David Fray, Klavier
          br
          | Florian Donderer, Konzertmeister
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//amazon.com/Stravinsky-Histoire-Dumbarton-Concerto-Orchestra/dp/B0000XKB9W") 
            img(src="//ecx.images-amazon.com/images/I/516r0LmklvL.jpg")
        .card-content Stravinsky: L' Histoire du Soldat • Dumbarton Oaks Concerto
      .card.medium.z-depth-1
        .card-image
          a(target="_blank", href="//qobuz.com/de-de/album/verdi-dvorak-string-quartets-christian-tetzlaff-florian-donderer-hartmut-rohde-and-maximilian-hornung/4260085533589#item") 
            img(src="fotos/verdi-dvorak-donderer-tetzlaff-rohde-hornung-gowers-helmerson-string-quartets-streichquartette-spannungen-festival.jpg")
        .card-content Dvořák & Verdi: String quartets (live)



  .col.push-m1.m3.s10.push-s1.center
    h5 Spotify
    iframe.portrait(src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahighkneee%3Aplaylist%3A2uWXzeXXmD1UvjKFA4UcDX", width="100%", height="356", frameborder="0", allowtransparency="true")

.row.youtube
  .col.s10.push-s1
    h2 Youtube
    iframe(width="100%", height="360px", src="//youtube.com/embed/yofxNBcto1g?list=UU_N2Hz63EvNRDmWHNVhRqUw", frameborder="0", allowfullscreen)
    iframe(width="100%", height="360px", src="//youtube.com/embed/uqwGbWEkXkw?list=PLsYijjvEmklKrG6ozZdc4tECmSrfndclO", frameborder="0", allowfullscreen)

.row.hashtags
    h5.col.s10.push-s1.m4.l3 Interessante Themen
    .col.s10.push-s1.m6.push-m1.l7.push-l1
      a.chip(href="//open.spotify.com/user/highkneee/playlist/2uWXzeXXmD1UvjKFA4UcDX")
        | @FlorianDonderer
        i.fa.fa-spotify
      a.chip(href="//itunes.apple.com/de/artist/florian-donderer/id308763676?ign-mpt=uo%3D4")
        | @FlorianDonderer
        i.fa.fa-apple
      a.chip(href="//www.youtube.com/watch?v=F-fmWfPdPWA&list=UU_N2Hz63EvNRDmWHNVhRqUw&index=2")
        | @flozzamusic
        i.fa.fa-youtube
      //- a.chip(href="//www.youtube.com/results?search_query=schumann+bremen")
      //-   | #schumannInBremen
      //-   i.fa.fa-youtube
      a.chip(href="//www.youtube.com/results?search_query=beethoven+j%C3%A4rvi+bremen")
        | #dasBeethovenProjekt
        i.fa.fa-youtube
      a.chip(href="//open.spotify.com/user/highkneee/playlist/4Gp9TcpBR6rbCs7E4i9h2n")
        | #festivalEnsembleSpannungen
        i.fa.fa-spotify
      a.chip(href="//youtube.com/watch?v=j18DddUdnPw&list=PLYMfW_cotQVWsS7HwE6Du21VFYR3aUlyX")
        | #KammerphilharmonieBremen
        i.fa.fa-youtube

.row
  .col.s8.push-s2.m10.push-m1
    h2 Fotos

.row.gallery
  .col.s10.push-s1.m3
    .materialboxed(data-caption="Paavo Järvi, Lars Vogt, Florian Donderer – Istanbul Music Festival 2015")
      img(src="fotos/IstanbulJaerviVogt.jpg")
    //- .materialboxed(data-caption="Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1369.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1578.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1602.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1687.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1755.jpg")
    //- .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer")
    //-   img(src="fotos/mgt9998.jpg")
    .materialboxed(data-caption="Florian Donderer und Die Deutsche Kammerphilharmonie Bremen © Joerg Sarbach")
      img(src="fotos/20151105-DDKB-152-©Sarbach.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1828.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1912.jpg")
    //- .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer")
    //-   img(src="fotos/duo_tetzlaff.jpg")
    .materialboxed(data-caption="Florian Donderer, Matthias Kirschnereit, Tanja Tetzlaff")
      img(src="fotos/MGT0504.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1358.jpg")
    .materialboxed(data-caption="Florian Donderer © Joerg Sarbach")
      img(src="fotos/20151105-DDKB-066-sw-Sarbach.jpg")

  .middlecol.col.s10.push-s1.m4.push-m1
    //- .materialboxed(data-caption="Florian Donderer")
      img(src="fotos/SendesaalBremenSuessmanTrio.jpg")
    //- .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB5237.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB5322.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB5368.jpg")
    .materialboxed(data-caption="Tanja Tetzlaff, Gunilla Süssmann, Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB6077.jpg")
    .materialboxed(data-caption="Gunilla Süssmann, Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB6099.jpg")
    .materialboxed(data-caption="Florian Donderer, Tanja Tetzlaff, Lars Vogt, Christian Tetzlaff, Rachel Roberts")
      img(src="fotos/Hitzacker.jpg")
    .materialboxed(data-caption="Florian Donderer © Kaupo Kikkas")
      img(src="fotos/Parnu-creditKaupoKikkas.jpg")
    .materialboxed(data-caption="Florian Donderer")
      img(src="fotos/Parnu13.jpg")
    .materialboxed(data-caption="Arvo Pärt, Nora Pärt, Florian Donderer | Pärnu Music Festival © Tavi Kull")
      img(src="fotos/ParnuArvoPart.jpg")
    .materialboxed(data-caption="Paavo Järvi, Florian Donderer und Die Deutsche Kammerphilharmonie Bremen | Lincoln Center, New York")
      img(src="fotos/RTRH4C0467_1.jpg")
    .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer, Ruhrtriennale 2014 © Pedro Malinowski")
      img(src="fotos/Ruhrtriennale15.jpg")
    .materialboxed(data-caption="Florian Donderer © Joerg Sarbach")
      img(src="fotos/20151105-DDKB-415-sw-Sarbach.jpg")

  .col.s10.push-s1.m3.push-m1
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB2001.jpg")
    .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB5145.jpg")
    .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB5174.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1650.jpg")
    .materialboxed(data-caption="Tanja Tetzlaff, Florian Donderer, Ruhrtriennale 2014 © Pedro Malinowski")
      img(src="fotos/duo_tetzlaff2.jpg")
    .materialboxed(data-caption="Florian Donderer, Pärnu Music Festival")
      img(src="fotos/testimonial_konzertmeister.jpg")
    .materialboxed(data-caption="Paavo Järvi, Florian Donderer, Pärnu Festival")
      img(src="fotos/testimonial_paavo.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1784.jpg")
    .materialboxed(data-caption="Christian Tetzlaff, Florian Donderer, Tanja Tetzlaff © Rolf Schöllkopf")
      img(src="fotos/13.05 Sendesaal Trio mit Christian (Vla.) 1.jpg")
    .materialboxed(data-caption="Florian Donderer © Rolf Schöllkopf")
      img(src="fotos/15.06 Sendesaal Bremen 2.jpg")
    .materialboxed(data-caption="Florian Donderer © Giorgia Bertazzi")
      img(src="fotos/GSB1991.jpg")
    
    //- .materialboxed(data-caption="Florian Donderer")
      img(src="fotos/Bildschirmfoto-2015-09-16-um-16.28.28.jpg")


include footer.jade
