- var title = "Pressestimmen | Florian Donderer"
- var bodyclass = "kritiken"

include head.jade

.navbar-fixed
  nav(role="navigation").header
    .nav-wrapper
      a#logo-container.left.brand-logo(href="index.html") Florian Donderer
      ul.right.hide-on-med-and-down
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li.active
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      ul#nav-mobile.side-nav.right
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li.active
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      a.button-collapse.right(href="#", data-activates="nav-mobile")
        i.material-icons menu




.row
  h1.col.s10.push-s1.center Presse
  
.row
  .col.s10.push-s1.m8.push-m2
    blockquote
      h5 Die Deutsche Kammerphilharmonie Bremen - Paavo Järvi
      h3 «Ein wahres Wunder»
      p … wird das Konzert dann durch die Wiedergabe des Konzertes A-Dur, KV 219 von Wolfgang Amadeus Mozart durch den Konzertmeister des Orchesters, Florian Donderer. Wenn man verstehen will, was der jüngst verstorbene Nicolaus Harnoncourt unter „Klangrede“ meinte, dann war es hier zu hören. Donderer verstand es, nahezu jeden Ton mit „Erzählcharakter“ auszustatten. Das klang mal tänzerisch, mal spielerisch, mal richtig witzig, mal ironisch und auch selbstironisch, mal parodistisch, mal von tiefer Melancholie – und alles nicht selbstgefällig nach innen, sondern als erzählende Kommunikation. Fast so, als würden die Zuhörer erfahren, was Mozart in diesen Jahren alles in Salzburg so geärgert hat. So kommt schließlich auch ein Stil zustande, in dem es so etwas wie „Orchester – Einsatz Solist“ nicht gibt, stattdessen ergibt sich mit fast improvisatorischer Kunst eins aus dem anderen. Überflüssig zu sagen, wie tonschön auch das wieder alles war, manchmal wie Silberfäden, manchmal wie in der einkomponierten Janitscharenmusik von deftig-aggressiver Klangfarbe. Tja, besser kann man‘s nicht machen, das ist musikalische Rhetorik pur. Ovationen waren die Folge.
      footer
        cite
          p — 
            a(target="_blank", href="//www.kreiszeitung.de/kultur/taufrische-silberfaeden-6374477.html") Ute Schalz-Laurenze
              i.fa.fa-copy
          time(datetime="2016-05-05 20:20")

.row.pforzheim
  .col.s12.m6.parnu
    img(alt="" src="fotos/Parnu13.jpg")
  .col.s10.push-s1.m6
    blockquote
      h5 Südwestdeutsches Kammerorchester Pforzheim • Berger
      h4 «Den in jeder Situation glänzend reagierenden Dirigenten Florian Donderer sollte man sich merken. Es wäre ein Glücksfall, könnte das Orchester diesen renommierten Kammermusiker dauerhaft an sich binden.»
      cite — Pforzheimer Zeitung

.row
  .col.s10.push-s1
    //- blockquote
      a.tweetthis(href="//twitter.com/intent/tweet?text=%C2%ABDie%20Musiker%20aus%20Basel%20spielen%20mit%20Konzertmeister:%20Florian%20Donderer,%20historisch%20versiert,%20mit%20schlankem,%20trockenem%20Klang,%20vibratoarm.%C2%BB") 
        small
          i.fa.fa-twitter
          |  Tweet this 
      h4 «Die Musiker aus Basel spielen im Stehen ohne Dirigent (Konzertmeister: Florian Donderer), historisch versiert, mit schlankem, trockenem Klang, vibratoarm.»

      footer
        cite
          p — Udo Badelt
          time(datetime="2014-05-03 10:00")

    //- blockquote
        h4 «Das Publikum spitzte förmlich die Ohren, wenn leise gestrichene Töne wie Flöten erklangen und Cello und Geige zart miteinander verschmelzten oder ungewöhnliche Rhythmen und atonale Harmonik aufwühlten. Nach einem fulminanten Schlusssatz brandete Applaus auf und Bravo-Rufe.»
        cite 
          p — Luise Bär

    blockquote
      h5 Die Deutsche Kammerphilharmonie Bremen • Paavo Järvi • Laeiszhalle Hamburg
      h4 «Fantastisch klang Florian Donderers Konzertmeister-Solo»
      cite — 
        a(href="//welt.de/print/welt_kompakt/hamburg/article149552132/Eine-ganz-besondere-Beziehung.html", target="_blank") Die Welt
          i.fa.fa-copy

    //- blockquote
      h4 «Unter der energischen Leitung des Primgeigers Florian Donderer erklang das Werk in seiner ganzen strengen Pracht. Von durchsichtigen Strukturen und von enormer Ausdruckstiefe geprägt.»
      cite — Dresdner Neue Nachrichten

    //- blockquote
      h4 «Florian Donderer und dem Orchester ist mit diesem Konzert ein grandioser Leistungsnachweis gelungen.»
      cite — TAZ
.row.fray
  .col.s12.m6
      img(alt="© Joerg Sarbach (www.photo-sarbach.de)", src="fotos/20151105-DDKB-115-©Sarbach.jpg")
  .col.s10.push-s1.m6.push-m0
    blockquote
      h5 Die Deutsche Kammerphilharmonie Bremen • David Fray • Erato
      h4 «David Fray and the Bremen Chamber Philharmonic under concertmaster Florian Donderer care about every note and phrase in their quest for balance between modern elegance and faithfulness to the score. It's fabulous listening…»
      cite — 
        a(href="//thestar.com/entertainment/music/2009/02/24/david_fray_js_bach_keyboard_concertos.html", target="_blank") Toronto Star • John Terauds
          i.fa.fa-copy
.row
  .col.s10.push-s1
    //- blockquote
      h4 «Von den ersten Forte-Oktaven des Klaviers an gelang alles perfekt. Eine Sternstunde im vermittelnd wirkenden Sendesaal.»
      cite — Weser Kurier • Bremen
    
    //- blockquote
      h5 residenz @ sendesaal
      h4 «Tanja Tetzlaff, Christian Tetzlaff und Florian Donderer in Bremen»
      p Die drei Musiker hatten das Konzert mit Franz Schuberts einsätzigem Streichtrio B. Dur D 471 begonnen, einem Fragment des jungen Komponisten, der hier schon viel Vertrautheit mit der Tradition bewies Dann folgte das Streichtrio aus dem Jahre 1946 von Arnold Schönberg. Der Komponist war im Sommer jenes Jahres schwer erkrankt und konnte nur durch eine Injektion direkt ins Herz gerettet werden. Diese Erfahrung der Todesnähe hat er nach eigener Auskunft in seinem Streichtrio verarbeitet. Die Interpreten gestalteten das klanglich extreme, mit Flageoletts, kontrastreichen Lagen und Geräuschklängen arbeitende Werk mit geradezu glühender Sorgfalt und lie?en die ausgezirkelte Struktur aus halbierten Zwölftonreihen v?llig hinter der zu tiefst persönlichen Expression der Musik verschwinden. Auch hier anhaltender Beifall.
      cite — Hartmut Lück • Weser Kurier • Bremen

    blockquote
      h5 Südwestdeutsches Kammerorchester Pforzheim • Mosnier
      h4 «Florian Donderer erwies sich als begnadeter Orchesterleiter mit einer besonderen Begabung, ein Ensemble vom Konzertmeisterpult aus zu führen.»

      p Ihm stehen äußerst organische Spielbewegungen zur Verfügung, die von sprechender Deutlichkeit sind und dem Orchester genügend Freiraum zur Entfaltung lassen. Das Kammerorchester folgte leicht und mit ansteckender Spielfreude allen Impulsen. Donderers in historischer Aufführungspraxis geschulter Instrumentalstil erlangte im historisch informiert spielenden Kammerorchester sensible Resonanz. Äußerst leichtfüßig sprangen die eleganten Tänze voran, auf das Feinste austariert spannten sich die musikalischen Bögen, beweglich blieb alle Klangfülle im Fluss.

      footer
        cite
          p — Ruth Wolfstieg • Pforzheim
          time(datetime="2012")

    blockquote
      h5 Ensemble Oriol • Strauss Metamorphosen • Oehms Classics
      h4 «Oriol’s performance (coached and led by concertmaster Florian Donderer and Anna Carewe) is admirably transparent and keeps on the move (an inestimable virtue in this piece) Oriols’s members are on a par with any rivals and … just unmissable.»
      cite — The Strad
.row
  .col.s12
    blockquote.grimaud
      h5 Die Deutsche Kammerphilharmonie Bremen • Grimaud • Deutsche Grammophon
      h4 «Begleitet wird Hélène Grimaud sehr stimmig von der Deutschen Kammerphilharmonie Bremen unter der Leitung von Florian Donderer.»

      a.tweetthis(href="//twitter.com/intent/tweet?text=%C2%ABBegleitet%20wird%20H%C3%A9l%C3%A8ne%20Grimaud%20sehr%20stimmig%20von%20der%20Deutschen%20Kammerphilharmonie%20Bremen%20geleitet%20von%20Florian%20Donderer.%C2%BB%20@flozzamusic&") 
        small
          i.fa.fa-twitter
          |  Tweet this 
      cite — Klassik.com

.row
  .col.s10.push-s1
    //- blockquote
      h4 «Florian Donderer blieb dem teilweise höchst anspruchsvollen Solopart nichts schuldig, spielte mit runder Tongebung und flinken Fingern, delikat eingebunden in den transparenten Klang der Streicher.»
      cite —Kölnische Rundschau

    blockquote.solist
      h5 Philharmonie Köln / Die Deutsche Kammerphilharmonie Bremen / Heinrich Schiff 
      //- h3 Schubert Rondo / Solist
      h4 «So blieb es dem Solisten Florian Donderer überlassen, in seinem Konzertstück für heitere Poesie und wirbelnde Fröhlichkeit zu sorgen. Diese Mischung aus Naturton, Paganini und Wiener Hinterhofmusik kam gut an.»
      cite — Kölner Stadtanzeiger

    //- blockquote
    //-   h4 «Konzertmeister Florian Donderer lotste die Musiker durch eine vor Geist sprühende, fast opernhaft szenisch wirkende d-Moll-Sinfonie von Haydn. So einen warmen, darmsaitenartigen Klang muss man erst einmal hinkriegen. Jede Stimme war sich ihrer jeweiligen Bedeutung hörbar bewusst, flexibel wechselten die Musiker ihre Rollen. Nur so hat das Musizieren ohne Dirigenten einen höheren Sinn.»
    //-   cite — Hamburger Abendblatt

    //- blockquote
      h5 Mit Rolando Villazón in der Münchner Philharmonie
      h4 «Dabei steht dem Tenor bei der Europa-Tour mit dem Kammerorchester Basel unter dem aufgeweckten Konzertmeister Florian Donderer ein ungleich geeigneterer Klangkörper zur Seite.»

      footer
        cite
          p — Johann Jahn
          time(datetime="2014-08-15 20:00")

    blockquote
      h5 Wilhelmshaven Stadthalle • Die Deutsche Kammerphilharmonie Bremen • Leonskaja
      h4 «Kann man ein mittelgroßes Orchester vom Pult des Konzertmeisters aus leiten? Der Geiger Florian Donderer kann es und gemessen am Ergebnis muss man sagen: Er kann es meisterlich. Was er und die Deutsche Kammerphilharmonie jetzt im 3. Konzert der Saison in der Wilhelmshavener Stadthalle boten, war schlichtweg grandios. So differenziert und plastisch, wie die Musiker aus Bremen Klangbilder erzeugten, auch im Dialog mit der Solistin Elisabeth Leonskaja (Klavier), hat man selten ein Orchester in der Stadthalle erlebt.
        br
        | Schon Mendelssohn Bartholdys Hebriden-Ouvertüre op. 26 war eine Offenbarung. Donderer und die Kammerphilharmonie entfalteten ein Szenerie, in der sich die Abläufe einer Expedition minuziös nachvollziehen lassen. Immer im Blickkontakt mit seinen Mitspielern, vermittelte er seine Intentionen überwiegend gestisch und mimisch. Das Orchester folgte ihm hochkonzentriert und mit einem großen Enthusiasmus.»
      cite
        p — 
          a(target="_blank" href="http://nwzonline.de/kultur/unbeschwert-fuer-musikalische-wogen-sorgen_a_6,0,136362594.html") Nordwestzeitung
            i.fa.fa-copy

    blockquote
      h5 Bremen Glocke • Die Deutsche Kammerphilharmonie Bremen • Leonskaja
      h4 «Schon beim ersten Stück, der „Hebriden-Ouvertüre“ von Felix Mendelssohn Bartholdy, konnte man hören: Es wird ein hochkarätiges Konzert. Dies ist bei den Auftritten der Deutschen Kammerphilharmonie Bremen zwar nicht außergewöhnlich; aber was das Ensemble diesmal unter der Leitung vom Konzertmeister Florian Donderer in der Glocke bot, war ein in jedem Moment fesselndes musikalisches Erlebnis.»
      cite
        p — 
          a(target="_blank" href="http://www.weser-kurier.de/startseite_artikel,-Unnachahmliche-Eleganz-_arid,1246105.html") Weser Kurier
            i.fa.fa-copy

    blockquote
      h5 Grenoble MC2 • Die Deutsche Kammerphilharmonie Bremen • Leonskaja
      h4 «Les excellents musiciens de l’Orchestre de chambre de Brême, aussi spontanés que disciplinés, alternent force et liberté sous la direction discrète de Florian Donderer. Celuici, depuis son siège de violoniste, conduit de façon claire, insouciante parfois, mais jamais superficielle. Dans le concerto de Beethoven, comme en seconde partie dans la “Symphonie n°3” de Schubert, une oeuvre de jeunesse, il fait preuve d’un sens remarquable du déploiement, de la respiration et d’une vraie légèreté d’approche. Trouvant d’emblée l’équilibre de couleurs et d’expressions, il rend son orchestre limpide et homogène.»

    blockquote
      h5 Sala Sao Paolo • Camerata Bern • Kasarova
      h4 «Liderada com competência e talentopelo violinista Florian Donderer, a Camerata conseguiu provocar impacto nesta obra tãorepetida de modo burocrático mundo afora.»
      footer
        cite
          a(href="//cultura.estadao.com.br/noticias/geral,vesselina-uma-voz-rara-imp-,1016821", target="_blank") — Jornal Estadão • São Paulo
            i.fa.fa-copy

.row
  .col.s12.m8.push-m2
    img(alt="" src="fotos/GSB1784.jpg")
.row
  .col.s10.push-s1.m8.push-m5.l6.push-l5
    small © Giorgia Bertazzi (giorgiabertazzi.com)
    blockquote
      h5 Sendesaal Bremen „residenz@sendesaal“ • Christian Tetzlaff • Florian Donderer • Tanja Tetzlaff
      h4 «Dann folgte das Streichtrio aus dem Jahre 1946 von Arnold Schönberg. Die Interpreten gestalteten das klanglich extreme, mit Flagoletts, kontrastreichen Lagen und Geräuschklängen arbeitende Werk mit geradezu glühender Sorgfalt und ließen die ausgezirkelte Struktur aus halbierten Zwölftonreihen völlig hinter der zutiefst persönlichen Expression der Musik verschwinden. Auch hier lang anhaltender Beifall»
      cite — 
        a(target="_blank", href="http://welt.de/print/die_welt/kultur/article13754848/Geiger-stuerzt-ganzen-Saal-in-Ergriffenheit.html#p3") Weser Kurier
          i.fa.fa-copy


.row
  .col.s10.push-s1
    blockquote.duotetzlaff
      h5 Ruhrtriennale 2014 • ChorWerk Ruhr • Duo Tetzlaff Donderer
      h4 «Ravels Sonate für Violine und Cello, letztere mustergültig aufgeführt von Florian Donderer und Tanja Tetzlaff.»
      cite — 
        a(target="_blank", href="//ruhrnachrichten.de/leben-und-erleben/kultur-region/Ruhrtriennale-2014-Franzoesische-Entdeckungsreise-mit-dem-Chorwerk-Ruhr;art1541,2489440") Die Welt
          i.fa.fa-copy

    blockquote
      h5 Rolando Villazòn • Florian Donderer • Kammerorchester Basel • Berliner Philharmonie
      a.tweetthis(href="//twitter.com/intent/tweet?text=%C2%ABUnter%20souver%C3%A4ner%20F%C3%BChrung%20des%20Konzertmeisters%20Florian%20Donderer%20%40flozzamusic%20verzichtet%20das%20Orchester%20auf%20einen%20Dirigenten.%C2%BB&") 
        small
          i.fa.fa-twitter
          |  Tweet this 
      h4 «Unter souveräner Führung seines Konzertmeisters Florian Donderer verzichtet das Orchester auf einen Dirigenten, und dies mit Gewinn. Unter unerhörter Binnenspannung tritt das Ensemble in die langsame Einleitung der Symphonie ein, und selbst heikle Einsätze im Finale scheinen in der feinen Kommunikation von Allen mit Allen kein Problem darzustellen.»

      footer
        cite
          p —
            a(target="_blank", href="//morgenpost.de/kultur/berlin-kultur/article127618128/Rolando-Villazon-ist-ein-Mozart-Saenger-voller-Einfuehlung.html") Morgenpost Berlin 
              i.fa.fa-copy
          time(datetime="2014-05-04 20:00")

    blockquote
      h5 Cadogan Hall London • Kammerorchester Basel • Rolando Villazon
      h4 «The Kammerorchester Basel under their virtuosic concert master Florian Donderer were as musically fresh to listen to as they were beguiling to watch playing. The Symphony was given a potent, eloquent account – dramatically tense and exuberant when required – by the talented musicians who played throughout the evening with confident assurance, vigour and excitement.»

      footer
        cite
          p — 
            a(target="blank" href="http://seenandheard-international.com/2014/05/rolando-villazon-sings-mozart-in-london") Seen And Heard International
              i.fa.fa-copy
          time(datetime="2014-05-07 18:00")

    blockquote
      h5 Pärnu Music Festival
      h4 «Florian Donderer, a positive presence among the trainee conductors, was the born leader of this healthy mix, commanding but genial and collegial.»

      footer
        cite
          p — 
            a(href="//theartsdesk.com/classical-music/theartsdesk-p%C3%A4rnu-top-players-great-estonians#main", target="_blank") David Nice • The Arts Desk 
              i.fa.fa-copy
          time(datetime="2015-07-28 09:00")

    blockquote
      h5 Hamburg Laeizhalle • Die Deutsche Kammerphilharmonie Bremen
      h4 «Konzertmeister Florian Donderer lotste die Musiker durch eine vor Geist sprühende, fast opernhaft szenisch wirkende d-Moll-Sinfonie von Haydn. So einen warmen, darmsaitenartigen Klang muss man erst einmal hinkriegen. Jede Stimme war sich ihrer jeweiligen Bedeutung hörbar bewusst, flexibel wechselten die Musiker ihre Rollen. Nur so hat das Musizieren ohne Dirigenten einen höheren Sinn.»

      footer
        cite
          p — Hamburger Abendblatt
          time(datetime="2011-05-12 09:00")

    //- blockquote
      h5 Reihe ‹Great Voices› Konzerthaus Wien
      //- h4 Doch nicht nur Villazón brillierte. Auch 
      h4 «Das von Konzertmeister Florian Donderer geleitete Kammerorchester Basel sorgte für feine Mozart-Klänge. Dass die Musiker aus Basel auch Villazón jeden Wunsch erfüllten, versteht sich von selbst.»
      //- Die Ouvertüre zu «Lucio Silla», zwei Märsche, vor allem aber die bewusst von Arien unterbrochene «Prager Symphonie» wirkten vital und spritzig. 
        | 
      footer
        cite
          p — 
            a(target="_blank", href="//kurier.at/kultur/musik/jetzt-hat-villazn-seinen-komponisten-gefunden/59.193.028") Peter Jarolin 
              i.fa.fa-copy
          time(datetime="2014-04-04 17:00")

    blockquote
      h4 «Das Orchester, geleitet vom Konzertmeister Florian Donderer, spielte ausdrucksstark und überzeugte mit einer wunderbaren Klangfülle. Die Musik wirkte niemals statisch sondern bestach durch eine Lebendigkeit, an der jeder Spieler mitwirkte.»

      footer
        cite
          p —
            a(target="_blank", href="//derwesten.de/staedte/witten/haydn-und-ruhrpott-vereint-aimp-id10482901.html") Peter Tölke, WAZ 
              i.fa.fa-copy
          time(datetime="2015-08-15 20:00")

    //- blockquote.duo
      h5 Duo Tetzlaff-Donderer
      h4 «Diese dennoch ausgesprochen farbige Musik lag bei Tetzlaff und Donderer in besten Händen»
      p Dank ihrer hohen technischen Souveränität bewältigten sie die virtuosen Schwierigkeiten dieser Sonate mit staunenswerter Leichtigkeit, spielten empfindsam und mitreißend temperamentvoll. Dementsprechend lautstark war die Begeisterung der Zuhörer.
      footer
        cite
          p — 
            a(target="_blank", href="//goettinger-tageblatt.de/Nachrichten/Kultur/Kultur-vor-Ort/Duo-Tanja-Tetzlaff-und-Florian-Donderer-in-der-Reinhaeuser-Kirche") Michael Schäfer  
              i.fa.fa-copy
          time(datetime="2013-08-26 16:00")

    //- blockquote
      h4 Czerny’s string quartets rediscovered

      p That Beethoven’s pupil Carl Czerny (1791–1857) was a consummate master of the string quartet genre is hardly astonishing. Some readers might be surprised, however, that the recent rediscovery of the D minor and E minor quartets has been championed by a «modern instrument» group. Yet it is perhaps symbolic of the musical universality of these works that they translate so effectively to such performance – as Beethoven’s own quartets do, of course – and the results here are certainly compelling.
      p What we have, then, are four highly evocative works, the heroic nature of which bears Beethoven’s influence. Outer movements in all cases are perhaps the most memorable – such as the clean-lined but harmonically inventive first movement of the D minor work or the forceful finale of the E minor quartet – while the scherzos can be equally stirring (notwithstanding  a slightly immaterial trio in the A minor quartet). This double-disc set is recorded with beautiful poise, both musically and in terms of recording quality, and …
        big … the Sheridan Ensemble, famed for its eclectic tastes, manages to apply modern stylistic ideals with subtlety  and sensitivity.
      p Witness, for example, the tonal clarity of the E minor’s slow movement, with sonority modulated more by the bow than by any over-reliance on vibrato, and the warm yet articulate cello staccatos in the D major’s first movement. The consistency of the sound across the works and across the members of the quartet is admirable. I enjoyed these discs greatly – truly a significant musical discovery, conveyed in  an ardent and committed way.

      footer
        cite —
          p
            a(target="_blank", href="//thestrad.com/cpt-reviews/czerny-four-string-quartets") Dr. David Milsom • University of Huddersfield 
              time(datetime="2015-08-15 20:00")
              i.fa.fa-copy

.row
  .col.s12
    //- blockquote.sendesaalviolatrio
      h5 Donderer-Tetzlaff-Trio im Bremer Sendesaal
      h4 «Die Balance trafen die drei Musiker mit traumwandlerischer Sicherheit: Christian mit einer silbrigen Tonschönheit und -klarheit, Florian Donderer an der Bratsche mit oft draufgängerischem Dazwischenfahren und Tanja mit ihrem zuverlässigen, aber stets auch spritzigen Cellofundament.»

      footer
        cite
          p —
            a(target="_blank", href="//kreiszeitung.de/kultur/verwandte-unter-freunden-2934450.html") Ute Schalz-Laurenze 
              i.fa.fa-copy
            time(datetime="2013-08-15 20:00")


.row
  .col.s10.push-s1
    //- blockquote
      h5 Deutsche Kammerphilharmonie Bremen & Herbert Blomstedt
      h4 «Wenn bei ‹et sepultus est› aus Beethovens ‹Missa solemnis› die Musik nahezu verschwand, wenn das Violinsolo (schwer übertrefflich Florian Donderer) im Sanctus von oben herunterschwebte und vieles mehr.»
      p Zu bewundern war auch die ungemein organische Gesamtdisposition, die perfekte Verzahnung des Orchesters mit dem blendend singenden Chor des Bayerischen Rundfunks.

      footer
        cite
          p —
            a(target="_blank", href="//kreiszeitung.de/kultur/andaechtig-tiefen-agnus-dei-2502041.html") Ute Schalz-Laurenze 
              i.fa.fa-copy
            time(datetime="2012-09-14 20:00")

    blockquote
      h4 Sheridan plays Czerny
      p As a sometime pupil of Beethoven - who chose him to present the Vienna premiere of the Emperor Concerto Carl Czerny enjoyed a ringside seat during the creation of some of Beethoven’s boldest works; as a composer in his own right perhaps best known as the creator of an avalanche of technique building studies for the aspiring pianist. Later he would dismiss these exercises as childish pranks, but he only published two symphonies and no string quartets despite writing between 20 and 40 of the latter estimates vary. Sheridan Ensemble Anna Carewe speculates that two quartets receiving their premiere recordings here may well be also enjoying their first performances Czerny seems to have produced them in the last decade of his life, but the models are inescapably earlier. Haydn’s sense of proportion prevails — in the inner movements of the D major Quartet, several turns of phrase suggest Haydn too and Czerny’s finely-honed sense of tension and release, of texture and discourse, owes much to Schubert and Mendelssohn. It’s music that knows the rules and is happy to abide by them. 
        big The Sheridans are stylish advocates.
        | They match the Viennoiserie with performances oozing that very Viennese quality of Gemütlichkeit. And their impeccable taste, sensitivity and refinement never overload the music with more import than it can bear. There’s a naturalness that assumes no special pleading is required, yet none of Czerny’s conversational felicities are allowed to pass unnoticed. German Radio’s warmly responsive recorded sound enhances an exemplary set.

      footer
        cite
          p — Paul Riley • BBC Music Magazine
            time(datetime="2015-08-01 20:00")

    //- blockquote
      h4 «A truely outstanding release! 150 years languishing in a library. Never played before.»

      p Four extraordinarily beautiful, passionate String Quartets. Very well written. Great melodies. Possibly closest in mood and spirit to Mendelssohn’s late f minor quartet. Czerny’s String Quartets prove to be worthy of inclusion into the sacred Haydn-Mozart-Beethoven-Schubert canon. It’s such a shame that many music lovers will pass them by for the mere fact they’re by ‹Czerny›, whose reputation nowadays is based exclusively on his piano teaching methods. From the works on this disc, it’s plain to see that he was a very fine composer indeed - albeit one who was reluctant to publish his serious works in the fear that they would be criticized and would affect his (rather lucrative) position as the most respected piano pedagogue of his age.
      p 
        big Rest assured that the performances and recording are top-rate.
        | So, just sit back and revel in this glorious music… I’m sure that by the end of it you'll be, like me, left with the feeling of immense gratitude at being able to experience it at last… after 150 years of silence! What riches we have been missing out on! How lucky we are!

      footer
        cite
          p — 
            a(target="_blank", href="//amazon.co.uk/Czerny-Quartets-Sheridan-Ensemble-CAPRICCIO/product-reviews/B00T73GMOE#cm_cr-review_list") ChamberMusicLover • Kritik Amazon.com
              i.fa.fa-copy
            time(datetime="2015-05-10 10:00")

    //- blockquote
      h5 Die Deutsche Kammerphilharmonie Bremen
      h4 «Eine gespenstisch-nachdenkliche Atmosphäre voller unendlicher Trauer»

      p 
        strong Haydn und Schostakowitsch
        | – diese auf den ersten Blick etwas ungewöhnliche Programmzusammenstellung erwies sich beim Konzert der Deutschen Kammerphilharmonie Bremen unter der Leitung von Konzertmeister Florian Donderer als wahrer Volltreffer. Schon in der bedauerlich selten zu hörenden Sinfonie Nr. 80 d-Moll von Joseph Haydn zeigte das Orchester durch brillantes Spiel und höchste Konzentration jene unnachahmliche Originalität auf, die Haydns Sinfonien so einzigartig macht: voller Überraschungen durch unerwartete Akzente oder Generalpausen erklangen die Ecksätze, innig-poetisch der langsame Satz und robust das Menuett. Nicht minder überzeugend präsentierten die Musiker die Kammersinfonie As-Dur op. 118a von Dmitrij Schostakowitsch, eine Bearbeitung des Streichquartetts Nr. 10 durch Rudolf Barschai. Hier fielen vor allem die äußerst delikaten Klangproportionen auf, die zwar im II. Satz nicht auf grelle, «triviale» Effekte verzichteten, jedoch die kammermusikalische Transparenz der einzelnen Sätze stets optimal betonten und besonders im Finale dem Stück eine fast gespenstisch-nachdenkliche Atmosphäre voller unendlicher Trauer zu verleihen vermochten.

      //- p Der 27 Jahre alte Pianist Igor Levit war schon vor zweieinhalb Jahren Gast im Sendesaal Bremen; den herausragenden Eindruck von damals konnte er diesmal vollends bestätigen. Das Klavierkonzert Nr. 1 von Schostakowitsch bewältigte er nicht nur pianistisch exzellent, sondern er entwickelte mit dem Trompetensolisten Jeroen Berwaerds immer wieder ein ausgefeiltes Zwiegespräch zwischen humorvollen und versonnenen Momenten.
      //- p Im Klavierkonzert D-Dur von Haydn fiel vor allem die plastische motivische Gestaltung auf: Elegant und suggestiv erklang der Eröffnungssatz, mit der nötigen emotionellen Tiefe der langsame Satz und mit feurigem Impetus das Finale, das von der zu Haydns Zeit als «ungarisch» geltenden Volksmusik inspiriert wurde.
      footer
        cite
          p — 
            a(target="_blank", href="//weser-kurier.de/startseite_artikel,-Herausragender-Eindruck-_arid,880764.html") Weserkurier 
              i.fa.fa-copy
          time(datetime="2014-06-22 18:00")

    blockquote
      h5 Philharmonie Köln • Die Deutsche Kammerphilharmonie Bremen • Ibragimova • Donderer
      h4 «Der Deutschen Kammerphilharmonie Bremen eilt schon seit langerer Zeit der Kammerphilharmonie Ruf voraus eines der besten Orchester der Welt zu sein.»
      p So sind die Erwartungen immer hoch, wenn dieses Ensemble das Podium betritt. In allen künstlerischen Belangen kam die Hebriden-Ouverture mit einer unglaublichen Transparenz und dynamischen Feinstrukturierung herüber, dass man nur staunen konnte. Benjamin Britten, dessen 100. Geburtstag die Musikwelt am 22. November feierte, war dann das Hauptthema im Programm. Und der Jubilar hätte seine Freude daran gehabt, wie hoch diffenziert und hellwach das Orchester die «Variationen über ein Thema von Frank Bridge» und dann die Simple Symphony e-Moll-Violinkonzert musizierte. Konnte Mendelssohns vielstrapaziertes danach überhaupt noch zur Wirkung kommen? Es konnte, dank der überragenden Solistin der aus Russland stammenden Alina Ibragimova, die an diesem Tag ihr Debüt in der Kölner Philharmonie gab. Technisch völlig über der Materie stehend, führte sie feinsinnig vor, was man aus diesem Stück, welches jeder genau zu kennen glaubt, noch alles heraushören kann. Im Rahmen einer insgesamt ‹klassisch› anmutenden Interpretation zeigte lbragimova mit leichter Hand eine Fülle von Details, die eine belebende Frische in das Werk brachten, Routine gab es hier keinen Augenblick. Grandios!
      footer
        cite
          p — Köln-Bonner Musikchronik
          time(datetime="2014-08-15 20:00")

    //- blockquote
      h5 Schloss Körtlinghausen Warstein
      h4 Kammermusikfestival ‹Westfalen Classics›

      p Den vier Künstlern Florian Donderer, Lucas Freund, Gernot Süßmuth und Alexander Gebert gelang der Vortrag ebenso spannend und virtuos wie das Vorangegangene. Besonders in Erinnerung bleibt das ‹Alla valse viennese›, mit den subtilen, gedämpften versteckten Waltzermotiven, den sonoren Pizzicati und dem leichten Bogenklopfen auf den Seiten. Genauso gelungen war der Satz Alla Serenata. Molto Allegro, wo die eingeflochtenen Strähnen der Tarantella den Lauschenden betörend entgegen schwebten.
      p Das Streichquartett op. 80 f-Moll von Felix Mendelssohn-Bartholdy (1809-1847) wurde nach der Pause dargeboten, und hinterließ ein weiteren tiefen Eindruck auf das Publikum. Denn, anders als die anderen Werke dieses großen Meisters, ist es sein letztes, geschrieben in tiefer Trauer über den Verlust seiner geliebten Schwester Fanny, die sein Leben stark und positiv beeinflusst hat. Und, obwohl seine unverkennbare Handschrift sofort erklingt, schwingt ein anderes Element mit, nämlich die hoffnungslose Verzweiflung, die sonst nirgends in seiner Musik zu finden ist. Dennoch, gibt es wunderschöne Stellen wie etwa das traurig beseelte ‹Adagio›. Die Interpreten spielten feinfühlig und behutsam, und bewegten ihr Publikum.
      p Stürmischer Beifall ertönte am Schluss und wurde belohnt mit einer Zugabe: die Wiederholung der ‹Serenata› von Erwin Schulhoff.

      footer
        cite
          p — 
            a(target="_blank", href="//derwesten.de/staedte/warstein/beruehrende-melodies-hebraiques-aimp-id11141656.html") Gerburg Krapf-Lumpe 
              i.fa.fa-copy
          time(datetime="2014-08-15 20:00")

    //- blockquote
      h5 Weltberühmte Musiker hautnah im Klassenzimmer
      h4 Rhapsody in school: Kindern Lust auf Konzert und Oper machen 

      //- img(alt="" src="fotos/rhapsodyatschool.jpg").float-left

      p Schon bei den ersten Tönen lauschen die rund 40 Kinder aufmerksam den Klängen, die die Cellistin Tanja Tetzlaff und der Geiger Florian Donderer ihren Instrumenten entlocken. Die beiden Musiker spielen ein Stück des ungarischen Komponisten Zoltán Kodály. An diesem Tag besteht ihr Publikum allein aus den Grundschülern.

      p Tetzlaff und Donderer sind für das Projekt «Rhapsody in school», das Kindern und Jugendlichen klassische Musik schmackhaft machen möchte, an die Schule an der Stader Straße in Bremen gekommen. «Es ist eklatant wichtig, Kinder früh an die Musik heranzuführen», sagt Tanja Tetzlaff.
      //- p «Rhapsody in»school" geht auf eine Initiative des Pianisten Lars Vogt zurück. «Klassische Musik»gehört immer weniger zu den Dingen, die ein Kind in seiner Familie ganz selbstverständlich mitbekommt", sagt Vogt. Dadurch entstünde eine Schwellenangst von Kindern und Jugendlichen bei klassischer Musik. Konzert- und Opernhäuser fürchteten um die Hörer und Zuschauer der Zukunft. Daher soll den Kindern durch den direkten Kontakt mit namhaften Musikern die Begeisterung für die Musik vermittelt werden. 
      //- p Für seine Idee hat Vogt mehr als 60 seiner Kollegen, die meisten Weltklasse-Künstler, gewinnen können. Unter ihnen etwa die Geigerin Julia Fischer, die beim G8-Gipfel in Heiligendamm auch für die Staatschefs spielte. Organisiert wird ‹Rhapsody in school› in Köln. Dort hat sich der Verein «Musiker hautnah» gegründet, der durch Spenden möglichst viele Schulbesuche ermöglichen will. Alle Künstler engagieren sich ehrenamtlich. «Trotzdem müssen»unter anderem Fahrtgelder, Bürokosten oder Werbemaßnahmen finanziert werden", sagt «Musiker-hautnah»-Vorstand Peter Wenzel-Röttger. Der Einsatz lohnt sich aus seiner Sicht: «‹Rhapsody in»school› ist in der Art das einzige bundesweite Projekt, das weltbekannte Solisten in die Schulen bringt." 
      //- p Seit der Projektgründung im September 2005 haben Lars Vogt und seine Kollegen mehr als 140 Schulen im Bundesgebiet besucht und damit gut 8 000 Schüler erreicht. Die Musiker haben bei den Treffen mit den Kindern jede Menge Spaß. «Das Rhapsody»Projekt hat allergrößten Spaß gemacht. Eine wunderschöne Erfahrung und sehr sinnvoll", sagt die Pianistin Silke Avenhaus.
      footer
        cite
          p — Benedikt von Imhoff

    //- blockquote
    //-   h4 Leichtfüßiges und Schwergewichtiges zum Auftakt der «Spannungen»

    //-   p Heimbach. Wenn das Kammermusikfestival «Spannungen» in Heimbach seinen Namen verdient, dann auf jeden Fall im Eröffnungskonzert des mittlerweile 18. Jahrgangs. Der lange Abend fiel so bunt und kontrastreich aus, dass die musikalischen Beiträge für sich sprechen mussten und konnten. 
    //-   p Ein konzeptorientiertes Motto war nicht zu erkennen, was durchaus der Philosophie des Festes entspricht. Die Leitidee dieses Jahres, «Widmungen», ist ohnehin so vage formuliert, dass der Programmvielfalt keine Grenzen gesetzt sind.
    //-   p Rund 45 Werke und 33 namhafte Solisten, zuzüglich das Kölner Kammerorchester, locken bis zum Sonntag wie gewohnt Freunde edler Kammermusik aus nah und fern in das pittoreske Jugendstilkraftwerk Heimbach am malerischen Rursee.
    //-   p Bekanntes und kaum Bekanntes, Großes und Kleines, Leichtfüßiges und Schwergewichtiges bestimmte den offiziellen Auftakt. Ein freches, in bester französischer Tradition keck sprudelndes «Divertissement für Oboe, Klarinette und Fagott» des später von den Nazis umgebrachten Erwin Schulhoff bot den Spitzenbläsern Christian Wetzel, Jonathan Hadas und Dag Jensen mehr als eine Einspielübung.
    //-   p Maximilian Hornung, einer der kultiviertesten Cellisten der jüngeren Generation, gestaltete Claude Debussys Cello-Sonate mit subtiler klanglicher Sensibilität, unterstützt von Mario Häring am Klavier, einem der beiden Stipendiaten dieses Jahres, der neben der Pianistin Ráchel Skleniková bereits im Vorfeld in einem Vorspannkonzert mit einem anspruchsvollen Programm für Begeisterung sorgte.
    //-   p Webers Flöten-Trio op. 63 gehört vielleicht nicht zu den stärksten Werken des frühromantischen Meisters, erfuhr aber durch die Flötistin Andrea Lieberknecht, der Pianistin Dina Ugorskaja und den Cellisten Maximilian Hornung eine ausgefeilte Interpretation. Die Klezmer-Verwandtschaft der beiden «Hebräischen Skizzen» des kaum bekannten, 1951 verstorbenen russischen Komponisten Aleksander Krein, der alle antijüdischen Widerstände in seinem Heimatland überstanden hat, wurde durch den Klarinettisten Jonathan Hadas und seine vier Streicher- Kollegen hörbar.
    //-   p Eine stimmungsvolle Vorbereitung auf den gipfelnden Schlusspunkt des Abends, Johannes Brahms‘ Klavierquintett op. 34, eines der mächtigsten Kammermusikwerke des jüngeren Brahms. Ein von Selbstbewusstsein, Ehrgeiz und Genialität bestimmter Streich, ein wichtiger Meilenstein auf Brahms‘ Weg zu einer eigenen Handschrift und zu großen Formen.
    //-   p Hier war auch Lars Vogt, der Spiritus Rector des Festivals, am Werk, wobei er sich hörbar zurücknahm und die Balance mit den Streichern nicht gefährdete. Die druckvolle Aufbruchstimmung des Stücks ging somit ungewöhnlich stark von den Streichern aus, während Vogt die Schubert-Nähe im Andante und die harmonischen Kühnheiten in der Einleitung zum Finalsatz besonders fein ausführte.
    //-   p Ovationen nach diesem Kraftakt, dem in der laufenden Woche Höhepunkte in Serie folgen werden. Neben Schlüsselwerken von den ganz Großen der Zunft auch etliche Raritäten mit hohem überraschungsgehalt. Und das nicht nur in diesem Jahr. Die RWE, der Hauptsponsor des Festes, hat bereits seine Unterstützung bis 2019.

    //-   footer
    //-     cite
    //-       p Pedro Obiera
    //-       time(datetime="2015-06-09 14:00")

    //- blockquote.duotetzlaff
      h4 «Sicher aber ist, dass Florian Donderer und Tanja Tetzlaff diese ‹Maschine für zwei Instrumente›, wie Ravel das Stück nannte, entsprechend vehement, ruppig, ja widerborstig spielen. Manches klingt wie von Bartok entlehnt. Andererseits scheut das Duo nicht die narkotisierenden Schwebeklänge der Partitur.»
      footer
        cite
          p — 
            a(target="_blank", href="//derwesten.de/kultur/chorwerk-ruhr-beeindruckt-im-salzlager-von-zollverein-aimp-id9851794.html#plx481628572") Martin Schrahn 
              i.fa.fa-copy
          time(datetime="2014-09-22 20:00")












include footer.jade
