- var title = "Projekte und Ensembles | Florian Donderer"
- var bodyclass = "projekte"

include head.jade

.navbar-fixed
  nav(role="navigation").header
    .nav-wrapper
      a#logo-container.left.brand-logo(href="index.html") Florian Donderer
      ul.right.hide-on-med-and-down
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li.active
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      ul#nav-mobile.side-nav.right
        li
          a(href="index.html") Home
        li
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li.active
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      a.button-collapse.right(href="#", data-activates="nav-mobile")
        i.material-icons menu


.row
  .col.s12
    img(src="fotos/mgt0035.jpg")


.row.intro
  .col.s10.push-s1.center
    h1 Projekte & Ensembles

.row.intro
    blockquote
      h4.col.s10.push-s1.m5 «Florian ist einer der vielseitigsten und interessantesten Musiker, die ich kenne.»
      .col.s10.push-s1.m4.push-m2
        p Seine künstlerischen Rollen — Geiger, Bratschist, Dirigent, Kammermusiker, Solist, Konzertmeister — sind so vielfältig wie seine Neugier, sein ungeheurer innerer Antrieb, seine immense Liebe zur Musik.
        cite — LARS VOGT
      //- big Florian ist gefragter Kammermusikpartner von Lisa Batiashvili, François Leleux, Christiane Oelze, Hélène Grimaud, Lars Vogt, David Fray, Oli Mustonen, Sergio Azzolini, Christian Tetzlaff, Antje Weithaas, Gustav Rivinius, Tanja Tetzlaff, Gunilla Süssmann, Pekka Kuusisto, Alban Gerhard, Hanna Weinmeister und weiteren namhaften Künstlern. Darüber hinaus hat er häufig Engagements im Quartett, Süssmann Trio, Basler Kammerorchester und dem Tetzlaff Duo.

.row.suessmann
  .col.s12.center
    h2 Süssmann Trio


.row.suessmann
  .col.s10.push-s1.m4.push-m1
    blockquote
      h3 Anspruchsvoll, dynamisch und voller Hingabe
      //- p «Im dynamischen Trio von Bohuslav Martinů wurde die Präzision deutlich, mit der die Künstler ihre Instrumente beherrschen. Das Klaviertrio von Johannes Brahms riss die Konzertbesucher mit facettenreicher Darbietung regelrecht mit. Das zeigte der anhaltende Applaus des begeisterten Publikums.»
      cite
        small — Kathrin Albers
    p
      big Florian Donderer, Violine
    p
      big Tanja Tetzlaff, Violoncello
    p
      big Gunilla Süssmann, Klavier
  .col.s12.m6.push-m2.right-align
    img(src="fotos/trio-suessmann_quadratic.jpg")


//- .row
//-   img(src="fotos/20130923-Fidelio-1166.jpg").col.m6.s12
//-   img(src="fotos/SheridanCzernyQuartett2.jpg").col.m6.s12

#sendesaal.sendesaal.row
  .s10.push-s1.m10.push-m1.l10.push-l1.center-align.white-text
    h5 AUFREGENDE UND INTIME KAMMERMUSIKKONZERTE IN BREMEN
    h2 ‹residenz @ sendesaal›

.row.sendesaal
  .col.s10.push-s1.m4.push-m2.white-text
    p Im Sendesaal Bremen leitet Florian gemeinsam mit Tanja Tetzlaff die Kammermusikreihe ‹residenz@sendesaal›. Hochrangige Musiker nutzen dort die hervorragenden Bedingungen für CD-Produktionen und besondere Studio-Konzerte. So sind beispielsweise Christian Tetzlaff und Lars Vogt regelmäßig dort zu Gast. Die in diesem Rahmen entstehenden CDs erhalten regelmäßig höchste Preise, wie etwa die Bestenliste der Deutschen Schallplattenkritik, Diapason d'or und eine Grammy Nominierung.
  .col.s10.push-s1.m4.push-m3.white-text
    p GÄSTE: 
    ul.white-text
      li Emmanuel Pahud
      li Christian Tetzlaff
      li Lars Vogt
      li Gunilla Süssmann 
      li Chiaroscuro Quartet
      li Julian Prégardien
      li Tetzlaff Quartett 
      li Martin Helmchen

//- .sendesaal.row
//-   .col.s10.push-s1.center.white-text
//-     h4 Presse
//- 
//-     blockquote(cite="http://www.thestrad.com/cpt-latests/hadelich-tetzlaff-takacs-eighth-blackbird-receive-classical-grammy-nominations/") Tanja und Christian Tetzlaff erhalten mit Lars Vogt Grammy-Nomierung für Kammermusik
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2013.02%20Kulturspiegel%20Tanja%20Tetzlaff%20Gunilla%20Su308ssmann.pdf") Tanja Tetzlaff und Gunilla Süssmann im "Kulturspiegel"
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2013.02%20BBC%20MM.02%20Christian%20lars%20BBC%20MM%20pp79102.pdf") Christian Tetzlaff und Lars Vogt "Recording of the Month" BBC Music Magazine
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2013.02%20TanjaGunilla%20Pizzikato%20Review.pdf") Brahms-Sonaten mit T.Tetzlaff und G.Süssmann "Supersonic Award" Pizzikato Luxemburg
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2012.11.21%20Lars%20Christian%20Klassik%20Heute.pdf") Klassik Heute: Tetzlaff/Vogt - Mozart Sonatas for Piano and Violin
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2012.10.11%20Lars%20Vogt%20und%20Christian%20Tetzlaff%20spielen%20Mozart%20%20NDR.de%20-%20Kultur%20-%20Klassik.pdf") NDR-Kultur: "eine CD, die in keinem Regal fehlen sollte" Tetzlaff/Vogt-Mozart
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2012.12.10Tanja-Gunilla%20FAZ.pdf") FAZ: "ein echtes Duo, feurig-virtuos" Brahms Cello Sonatas - Tetzlaff/Süssmann
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/2012.12.09Tanja-Gunilla%20Tagesspiegel.jpg") Tagesspiegel Berlin: "T. Tetzlaff gibt der e-moll-Sonate ihr märchenhaftes Geheimnis zurück"
//-     blockquote(cite="http://www.schallplattenkritik.de/bestenlisten/445-bestenliste-1-2011") CD des Tetzlaff-Quartetts auf der Bestenliste des Preises der Deutschen Schallplattenkritik
//-     blockquote(cite="http://www.floriandonderer.de/media/Text/Tetzlaff%20Quartet_Strad%20February%202011-1.pdf") "The Strad recommends...." - Kritik der CD des Tetzlaff-Quartetts 

.sendesaal.row
  .col.s12.m6.push-m3.center.white-text
    h4 CDs aus der Residenz
    .slider
      ul.slides
        li
          a(href="//amazon.ca/dp/B01HFPD932")
            img(src="https://images-na.ssl-images-amazon.com/images/I/81PlFm0QiWL._SX522_.jpg")
        li
          a(href="//amazon.com/Schumann-Violin-Sonatas-Tetzlaff/dp/B00EPRJ4A6")
            img(src="fotos/tetzlaff-vogt-schumann-sonatas.jpg")
        li
          a(href="//jpc.de/jpcng/classic/detail/-/art/brahms-the-piano-trios/hnum/7228480")
            img(src="fotos/tetzlaff-vogt-brahms-trios.jpg")
        li
          a(href="//qobuz.com/gb-en/album/around-the-world-emmanuel-pahud-flute-christian-rivet-guitar/0825646397488")
            img(src="fotos/around-the-world-pahud.jpg")
        li
          a(href="//amazon.de/Cellosonaten-Tetzlaff-Tanja/dp/B008VOJGUC/ref=sr_1_1?s=music&ie=UTF8&qid=1356033863&sr=1-1")
            img(src="//ecx.images-amazon.com/images/I/51nVyCG4Z5L.jpg")
          .caption.right-align
            //- h2.light.grey-text.text-lighten-3
              i.fa.fa-shopping-cart
            //- Brahms: Cellosonaten • Tanja Tetzlaff & Gunilla Suessmann
            //- h3 Left Aligned Caption
        li
          a(href="//amazon.de/Sonaten-Klavier-Violine-Vogt-Lars/dp/B00925TBLS/ref=sr_1_1?s=music&ie=UTF8&qid=1356033954&sr=1-1")
            img(src="http://ecx.images-amazon.com/images/I/71hbhz2VGQL._SL1417_.jpg")
          .caption.right-align
            //- h2.light.grey-text.text-lighten-3
              i.fa.fa-shopping-cart
            //- Mozart: Sonaten für Klavier und Violine • Lars Vogt und Christian Tetzlaff
            //- h3 Right Aligned Caption
        li
          a(href="//challengerecords.com/product/1351873618")
            img(src="//ecx.images-amazon.com/images/I/51JdZLXfcmL.jpg")
          .caption.right-align
            //- h2.light.grey-text.text-lighten-3
              i.fa.fa-shopping-cart
            //- Prokofiev: Complete works for violin & piano • Isabelle Van Keulen & Ronald Brautigam
            //- h3 This is our big Tagline!
        li
          a(href="//allmusic.com/album/sibelius-schoenberg-string-quartets-mw0002075174")
            img(src="//cps-static.rovicorp.com/3/JPG_400/MI0003/042/MI0003042729.jpg")
          .caption.right-align
            //- h2.light.grey-text.text-lighten-3
              i.fa.fa-shopping-cart
            //- Sibelius: Streichquartette • Tetzlaff Quartett
            //- h3 This is our big Tagline!
        li
          a(href="https://www.jpc.de/jpcng/classic/detail/-/art/sonnenquartette-op-20-1-3/hnum/3896700")
            img(src="https://media2.jpc.de/image/w600/front/0/7318599921587.jpg")
          .caption.right-align
            //- i.fa.fa-shopping-cart
     
    br
    br 
    a(href="//sendesaal-bremen.de/index.php?id=71").btn.secondary mehr Informationen


.row.signumquartet
  .col.m5.push-m1.s12.center-align.valign-wrapper
    //- img(src="fotos/GSB5174.jpg").valign
    img(src="fotos/Signum-Quartett_by_Irene-Zandel.jpg").valign
  .col.m4.push-m2.s10.push-s1.center.valign-wrapper
    .valign
      h4 Signum Quartett
      blockquote
        h5 Florian Donderer,Violine 
        h5 Annette Walther, Violine
        h5 Xandi van Dijk, Viola
        h5 Thomas Schmitz, Violoncello
        p
          br
          a(href='//signumquartet.com') Website des Signum Quartetts  
            i.fa.fa-caret-right
        //- h4 «Tanja Tetzlaff und Florian Donderer servierten einen Auftakt in klanglicher Perfektion.»
        //- cite — Kölnische Rundschau



.portfolio
  .row
    .col.s12.center-align.white-text
      h5 GROSSE VIELFALT
      h4 Musikprojekte von klein bis groß
  .row
    .col.s10.push-s1.m4.push-m0.l3.push-l2
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="//donderer.de/fotos/20151105-DDKB-066-sw-©Sarbach.jpg" alt="© Giorgia Bertazzi (giorgiabertazzi.com)")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 play & direct
            i.material-icons.right more_vert
          p Die Deutsche Kammerphilharmonie Bremen
        .card-reveal
          span.card-title.grey-text.text-darken-4 Nächstes Projekt
            i.material-icons.right close
          p Recording C.P.E. Bach, Haydn, Boccherini Cello Concertos with Steven Isserlis.
          p
            a(href="konzerte.php") Konzerte am 22. & 24. September 2016
          small © Photo by Joerg Sarbach

      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="fotos/sheridan_ensemble-carl_czerny_string_quartets.jpg")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Welt-Ersteinspielung
            i.material-icons.right more_vert
          p
            a(target="_blank" href="//amazon.de/Streichquartette-Sheridan-Ensemble/dp/B00T73GMOE/ref=sr_1_cc_1?s=aps&ie=UTF8&qid=1452877873&sr=1-1-catcorr&keywords=czerny+Sheridan") Doppel-CD kaufen
            |  | 
            a(target="_blank" href="//sheridan-ensemble.de") Website
        .card-reveal
          span.card-title.grey-text.text-darken-4 Streichquartette von Carl Czerny
            i.material-icons.right close
          blockquote
            big «Truly a significant musical discovery, conveyed in  an glowing and committed way.»
            cite
              small
                a(target="_blank", href="//www.thestrad.com/cpt-reviews/czerny-four-string-quartets") Dr. David Milsom • University of Huddersfield 
                  time(datetime="2015-08-15 20:00")
                  i.fa.fa-copy

      .card
        .card-image.waves-effect.waves-block.waves-light
          img(src="//donderer.de/fotos/diskographie-mozartchamberg.jpg").activator
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Heimbach Festival
            i.material-icons.right more_vert
          p Live-Aufnahmen
          //-   a(href="#") 
          //-     i.fa.fa-shopping-cart 
          //-     | buy this CD 
        .card-reveal
          span.card-title.grey-text.text-darken-4 Kammermusik mit Freunden
            i.material-icons.right close
          p Höchstes kammermusikalisches Niveau benötigt ideale Bedingungen auf zwei Ebenen: musikalisch und menschlich. In Heimbach trifft sich eine musikalische und menschliche Familie. Dabei ist Lars Vogt nicht nur künstlerischer Leiter des Festivals sondern auch kammermusikalischer Partner in verschiedensten Besetzungen.

    .col.s10.push-s1.m4.push-m3.l3.push-l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img(src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-xaf1/t31.0-8/12486071_1008114632563051_7701020672577925671_o.jpg").activator
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Pärnu Music Festival
            i.material-icons.right more_vert
          p Dirigieren • Kammermusik • Meisterkurse
          //-   a(href="#") 
          //-     i.fa.fa-shopping-cart 
          //-     | buy this CD 
        .card-reveal
          span.card-title.grey-text.text-darken-4 DIRIGIEREN • KAMMERMUSIK • MEISTERKURSE
            i.material-icons.right close
          p Als Konzertmeister des Festivalorchesters, Kammermusiker und Dozent ist Florian dort zu Gast. Außerdem nimmt er an dem Meisterkurs der Järvi Academy teil: die Dozenten sind Neeme Järvi, Paavo Järvi und Leonid Grin.
          small © Photo by Tiina Tuhkur

      .card
        .card-image.waves-effect.waves-block.waves-light
          //- iframe(width="100%", height="220", src="https://www.youtube.com/embed/dIMOatr88rw", frameborder="0", allowfullscreen="").activator
          img(src="fotos/neumannensemble.jpg").activator
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Balthasar-Neumann-Ensemble
            i.material-icons.right more_vert
          p Konzertmeister/Dozent
          //-   a(href="#") 
          //-     i.fa.fa-shopping-cart 
          //-     | buy this CD 
        .card-reveal
          span.card-title.grey-text.text-darken-4 Balthasar-Neumann-Ensemble & Akademie
            i.material-icons.right close
          p Als Konzertmeister des Balthasar-Neumann-Ensemble lernt Florian ohne Ende dazu. Die Originalinstrumente und das Spezialistenensemble geben ihm immer wieder wichtige Impulse musikalischer Gestaltung. Eine Erfahrung, die ihn ungemein bereichert und ihm Spaß macht.

      .card
        .card-image.waves-effect.waves-block.waves-light
          img(src="fotos/GSB5145.jpg" alt="© Photo by Giorgia Bertazzi").activator
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Duo Tetzlaff Donderer
            i.material-icons.right more_vert
          p Florian Donderer, Violine
          //-   a(href="#") 
          //-     i.fa.fa-shopping-cart 
          //-     | buy this CD 
        .card-reveal
          span.card-title.grey-text.text-darken-4 Heimbach 2009
            i.material-icons.right close
          p «Tanja Tetzlaff und Florian Donderer servierten einen Auftakt in klanglicher Perfektion.»
            cite — Kölnische Rundschau


      .card
        .card-image.waves-effect.waves-block.waves-light
          iframe(width="100%", height="220", src="https://www.youtube.com/embed/fs2iNchqWy0", frameborder="0", allowfullscreen="").activator
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Ensemble Ruhr
            i.material-icons.right more_vert
          p Die sieben letzten Worte an sieben Orten
          //-   a(href="#") 
          //-     i.fa.fa-shopping-cart 
          //-     | buy this CD 
        .card-reveal
          span.card-title.grey-text.text-darken-4 Florian Donderer, Musikalische Leitung
            i.material-icons.right close
          p In seiner Komposition «Die sieben letzten Worte unseres Erlösers am Kreuz» stellt Joseph Haydn den Leidensweg Jesus Christus und dessen letzte Worte auf diesem Weg musikalisch dar. Das Ensemble Ruhr dokumentiert mit diesem Projekt den Leidensweg des Industrielandes Ruhrgebiet, den Verfall, Aufstieg und den Wandel auf ganz neue Weise.  
            a(target="_blank" href="//ensembleruhr.de/projekte/2015/sieben") Infos zum Projekt "7"


    //- h5.col.s12.m4.l3.white-text VIOLINE HARFE
    //- h5.col.s12.m4.l3.white-text KONZERTMEISTER NRW
    //- h5.col.s12.m4.l3.white-text DONDERER CHAMBERMUSIC
    //- h5.col.s12.m4.l3.white-text DONDERER CHAMBERMUSIC


//- .row.quadratic-gallery
  //- .col.l4.m6.s12
    img(src="fotos/20151105-DDKB-532-©Sarbach.jpg")
  .col.l4.m6.s12
    img(src="fotos/MGT0504.jpg")
  //- .col.l4.m6.s12
  //-   img(src="fotos/13.05-Sendesaal-Trio-mit-Christian-(Vla.)-1.jpg")
  //- .col.l4.m6.s12
  //-   img(src="fotos/duo_tetzlaff2.jpg")
  //- .col.l4.m6.s12
    img(src="fotos/GSB1518.jpg")
  //- .col.l4.m6.s12
    //- img(src="fotos/Hitzacker.jpg")
  //- .col.l4.m6.s12
    img(src="fotos/GSB5145.jpg")
  //- .col.l4.m6.s12
  //-   img(src="fotos/20151105-DDKB-066-sw-©Sarbach.jpg")
  //- .col.l4.m6.s12
    //- img(src="fotos/IstanbulJaerviVogt.jpg")
  .col.l4.m6.s12
    img(src="fotos/GSB1358.jpg")
  .col.l4.m6.s12
    img(src="fotos/20151105-DDKB-152-©Sarbach.jpg")



script.
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
  });
        
include footer.jade
