- var title = "Vita | Florian Donderer"
- var bodyclass = "vita"

include head.jade

.navbar-fixed
  nav(role="navigation").header
    .nav-wrapper
      a#logo-container.left.brand-logo(href="index.html") Florian Donderer
      ul.right.hide-on-med-and-down
        li
          a(href="index.html") Home
        li.active
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt
      ul#nav-mobile.side-nav.right
        li
          a(href="index.html") Home
        li.active
          a(href="vita.html") Vita
        li
          a(href="presse.html") Presse
        li
          a(href="konzerte.php") Konzerte
        li
          a(href="projekte.html") Projekte
        li
          a(href="medien.html") Medien
        li
          a(href="impressum.html") Kontakt

      a.button-collapse.right(href="#", data-activates="nav-mobile")
        i.material-icons menu

.row
  br
  br
  label(for="togglelanguage").togglelanguage-label.btn.secondary.small.col.m10.right-align.s11.push-s1 Read english version
input(type="checkbox", id="togglelanguage", name="togglelanguage")

.row.deutsch
  h1.col.s10.push-s1.m5.push-m1 Vita

  blockquote.col.s10.push-s1.m5.push-m1
    h3 «A strong violinist capable of stylish, nuanced playing.»
    cite Fanfare Magazine

.row.deutsch
  .col.s10.push-s1.m4.push-m1
    p
      img(src="fotos/GSB1578_cropped.jpg")

  .col.s10.push-s1.m5.push-m2
    p Energisches Spiel und durchdachte Interpretationen machen Florian Donderer zu einem geschätzten Kammermusikpartner für die renommiertesten Musiker. Sein dynamisches, brillantes und pointiertes Spiel bringt ihm Engagements bei Ensembles von Weltrang. Als Leiter reißt er Orchester, Musiker und Publikum gleichermaßen mit. Durch seine reichhaltige Erfahrung im Einstudieren als Konzertmeister mit kammermusikalischem Gespür vermag er Orchestern zu Höchstleistungen zu verhelfen. Das beweisen seine Tätigkeiten als Dirigent oder leitender Konzertmeister u.a. bei Der Deutschen Kammerphilharmonie Bremen, den Lucerne Festival Strings, dem Scottish Chamber Orchestra, dem Kammerorchester Basel, der Camerata Bern, der Kammerakademie Neuss sowie der Filharmoonia Tallinn.

  //- p
  //-   svg(viewBox="0 0 214.893 41.08", class="icon--zickzack")
  //-         use(xlink:href="#icon--zickzack", href="#icon--zickzack", x="0", y="0")

.row.deutsch
  .col.s10.push-s1.m5.push-m1
    p Florian Donderer studierte in Berlin und London bei Bernhard Hartog, David Takeno und Prof. Thomas Brandis und war Assistent von Thomas Brandis an der Hochschule der Künste in Berlin. Bereits während seines Studiums war er Stipendiat der Karajan-Akademie des Berliner Philharmonischen Orchesters. Bis 2010 war er Professor für Violine an der Musikhochschule in Groningen und unterrichtete dann an der Hochschule für Künste Bremen. Heute unterrichtet er im Rahmen der neuen Akademie der Deutschen Kammerphilharmonie Bremen, beim Pärnu Music Festival sowie in der Akademie des Balthasar Neumann Ensembles.

  .col.s10.push-s1.m5.push-m1
    p Als Dirigent debütierte Florian 2010 mit dem Ensemble Oriol an der Seite von Christiane Oelze in der Berliner Philharmonie. Es folgten 
      a(href="medien.html") CD-Aufnahmen 
      | mit Tanja Tetzlaff und Der Deutschen Kammerphilharmonie Bremen – Toch Cellokonzert, Neos. Neben dem Südwestdeutschen Kammerorchester Pforzheim dirigierte er unter anderem die Lucerne Festival Strings, die Kammerakademie Neuss und das Folkwang Kammerorchester Essen. Er ist Schüler von Neeme Järvi, Paavo Järvi und Leonid Grin.

.row.deutsch
  .col.s10.push-s1.m5.push-m1
    p Früh legte er den Schwerpunkt seines musikalischen Schaffens auf die Arbeit mit Kammerorchestern und machte sich als künstlerischer Leiter vom Konzertmeisterpult aus einen Namen. So war er Konzertmeister des Ensemble Oriol Berlin und bis 2004 Konzertmeister der Kammerakademie Potsdam. Seit 1999 ist Florian Donderer Konzertmeister Der Deutschen Kammerphilharmonie Bremen. Er ist außerdem Konzertmeister des Balthasar-Neumann-Ensembles auf historischen Instrumenten.

  .col.s10.push-s1.m5.push-m1
    p Florian Donderer ist regelmäßig als Kammermusiker und Solist bei wichtigen Festivals wie dem Ultraschall Festival in Berlin, der Musik Triennale Köln, dem Beethovenfest Bonn, dem Ultima Festival in Oslo, den Bergen Festspielen, den Festivals «Spannungen» in Heimbach, dem MDR Musiksommer, dem Pärnu Music Festival in Estland, dem Musikfest Bremen sowie dem Musikfestival Mecklenburg Vorpommern und den Festwochen Berlin zu Gast.


.row.deutsch
  .col.s10.push-s1.m5.push-m1
    p Bereichernd sind für Florian Donderer die vielfältigen Einflüsse der engen musikalischen Freunde. So gehört er mit Tanja Tetzlaff, Christian Tetzlaff und Lars Vogt zu dem Kreis der sich regelmäßig beim Kammermusikfestival «Spannungen» in Heimbach treffenden Künstler. Er ist Mitglied verschiedener Kammermusik-Formationen, in denen er Musik der unterschiedlichsten Genres von Barock bis Moderne spielt. (Süssmann Trio, Sheridan Ensemble Berlin, Berlin Oboe Quartet) Besonders geprägt hat Florian Donderer die künstlerische Zusammenarbeit mit dem Fagottisten Sergio Azzolini sowie Paavo Järvi und den Musikern Der Deutschen Kammerphilharmonie Bremen.

  .col.s10.push-s1.m5.push-m1
    p Im Sendesaal Bremen leitet Florian Donderer gemeinsam mit Tanja Tetzlaff die Kammermusikreihe 
      a(href="projekte.html#sendesaal") ‹residenz@sendesaal›
      | . Hochrangige Musiker nutzen dort die hervorragenden Bedingungen für CD-Produktionen und besondere Studio-Konzerte. So sind beispielsweise Christian Tetzlaff und Lars Vogt regelmäßig dort zu Gast. Die in diesem Rahmen entstehenden CDs erhalten regelmäßig höchste Preise, wie etwa die Aufnahme in die Bestenliste der Deutschen Schallplattenkritik, die Diapason d’Or und eine Grammy Nominierung.

.row.deutsch
  .col.s10.push-s1.m5.push-m1
    p
      a(href="medien.html") Auf CD erschienen Richard Strauss’ Metamorphosen 
        i.fa.fa-spotify
      |  mit der Kammerakademie Potsdam unter der Leitung von Florian Donderer und Anna Carewe ‹2004, Arte Nova› und Strawinskys ‹L’histoire du soldat› mit Der Deutschen Kammerphilharmonie Bremen unter der Leitung von Paavo Järvi ‹2004, Pentatone›. Verschiedene Kammermusikwerke sind auf den CDs des Festivals «Spannungen» von 2005, 2009 sowie 2012 ‹Piano Trios & Deux Interludes for flute, violin and harp› erschienen ‹CAvi-music›. Als Dirigent hat er Ernst Tochs Cellokonzert mit der Solistin Tanja Tetzlaff und der Deutschen Kammerphilharmonie Bremen eingespielt (2011, NEOS).


  .col.s10.push-s1.m5.push-m1
    p Florian Donderer spielt eine Geige des deutschen Geigenbauers Peter Greiner aus dem Jahre 2003.



.row.english
  h1.col.s10.push-s1.m5.push-m1 CV

  blockquote.col.s10.push-s1.m5.push-m1
    h3 «A strong violinist capable of stylish, nuanced playing.»
    cite Fanfare Magazine

.row.english
  .col.s10.push-s1.m4.push-m1
    p
      img(src="fotos/GSB1578_cropped.jpg")

  .col.s10.push-s1.m5.push-m2
    p Florian Donderer, well-known for his energetic style and sophisticated interpretations, is a highly valued chamber music partner for many renowned musicians. His dynamic, clear and precise style makes him a welcome guest in the role of concertmaster in a number of Europe’s best ensembles. He is now increasingly in demand as a conductor who is able to use his extensive rehearsal experience as concertmaster as well as his grasp of chamber music to bring an orchestra to peak performance.

  //- p
  //-   svg(viewBox="0 0 214.893 41.08", class="icon--zickzack")
  //-         use(xlink:href="#icon--zickzack", href="#icon--zickzack", x="0", y="0")

.row.english
  .col.s10.push-s1.m5.push-m1
    p Florian Donderer studied in Berlin and London and was an assistant to Prof. Thomas Brandis at the Hochschule der Künste in Berlin. During his studies, he held a scholarship from the Karajan Academy of the Berlin Philharmonic Orchestra.

  .col.s10.push-s1.m5.push-m1
    p He made his debut as a conductor in February 2010 with the Ensemble Oriol and Christiane Oelze at a concert in the Berlin Philharmonic Hall. This was followed by a 
      a(href="medien.html") CD recording 
      | with the Deutsche Kammerphilharmonie Bremen and Tanja Tetzlaff. He has successfully conducted the Kammerakademie Neuss, the Südwestdeutsche Kammerorchester Pforzheim, the Festival Strings Lucerne and the Neue Rheinische Kammerorchester.
    p He is a student of Neeme Järvi, Paavo Järvi and Leonid Grin.

.row.english
  .col.s10.push-s1.m5.push-m1
    p From an early stage, he focused on chamber music as the centre of his musical work. He was a long-standing member of the Ensemble Oriol Berlin. Florian Donderer has been concertmaster of the Deutsche Kammerphilharmonie Bremen since 1999, where he has made a name for himself by directing from the concertmaster’s desk. In this position he is frequently asked to play with internationally renown orchestras, such as the Scottish Chamber Orchestra, Kammerorchester Basel, Camerata Bern, Festival Strings Lucerne as well as the Filharmoonia Tallin.

  .col.s10.push-s1.m5.push-m1
    blockquote
      h5 «You must make a mental note of the conductor, Florian Donderer, who reacted brilliantly in all situations.»
      cite — Pforzheimer Zeitung, 2011


.row.english
  .col.s10.push-s1.m5.push-m1
    p Florian Donderer is also a frequent guest, as a chamber musician and soloist, at important festivals world-wide such as the Pärnu Festival in Estonia, the Ultima Festival in Oslo, the Bergen Festival, the Musik Triennale in Cologne, the Beethoven Festival in Bonn, as well as the festivals «Spannungen» in Heimbach and «Sommersprossen» in Rottweil, the MDR Musiksommer, the Ultraschall Festival in Berlin, the Festwochen Berlin, the Musikfest Bremen and the Musikfestival Mecklenburg Vorpommern.

  .col.s10.push-s1.m5.push-m1
    p Florian Donderer is the artistic director of the chamber music series 
      a(href="projekte.html#sendesaal") ‹residenz@sendesaal›
      | in the Sendesaal Bremen, where respected musicians have the opportunity to use the studio’s outstanding facilities for their CD productions and studio concerts. Regular guests here are, among others, Christian Tetzlaff and Lars Vogt. Recordings have received numerous awards, such as the Diapason d’Or, a Grammy Nomination, and have been included on the German Record Review’s list of best recordings.

.row.english
  .col.s10.push-s1.m5.push-m1
    p Florian Donderer has 
      a(href="medien.html") appeared on CDs 
      | with, among others, Richard Strauss’ Metamorphosen with the Kammerakademie Potsdam under his direction (2004, Arte Nova) and Stravinsky’s L’histoire du soldat, conducted by Paavo Järvi, with Florian Donderer as concertmaster (2004, Pentatone). Various chamber music works, released by CAvi-Music, appeared on the CDs of the festival «Spannungen» from 2005, 2009 and 2012 (i.e. Piano Trios and Deux Interludes for flute, violin and harp). As a conductor he recorded Ernst Toch’s cello concert with Tanja Tetzlaff as soloist and the Deutsche Kammerphilharmonie Bremen (2011, NEOS).

  .col.s10.push-s1.m5.push-m1
    p Florian Donderer plays a violin built by the German violin-maker Peter Greiner in 2003.

.row
  .col.s10.push-s1.m5
      label(for="togglelanguage").togglelanguage-label Read english version
  .col.s10.push-s1.m5.push-m1
  
    h5 Download
    p
      a(href="//dropbox.com/sh/43wm02jza6hi2xj/AAB9WV_aNDsM1LLnGSSupS1ba?dl=0") 
        span.fa.fa-file-photo-o  
        |  Pressefotos
        small  hochauflösend / HD
    p
      a(href="//dropbox.com/sh/zg1dq7ejq34l3h0/AAByhJebPwshHOfpPXj6PH8ka?dl=0")
        span.fa.fa-file-text-o  
        |  Vita
        small &nbsp; CVs / de, en









include footer.jade
